openapi: 3.0.0
info:
  version: 2018.1 (current)
  title: TeamCity REST API
servers:
  - url: 'https://ubermorgen.teamcity.com'
tags:
- name: Build
- name: BuildQueue
paths:
  /app/rest/buildQueue:
    get:
      tags:
      - BuildQueue
      summary: Get all queued builds.
      description: ''
      operationId: getAllQueuedBuilds
      parameters:
      - name: locator
        in: query
        required: false
        schema:
          type: string
          format: BuildQueueLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/builds'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/builds'
              examples:
                response:
                  value: example
  /app/rest/buildQueue/order/{queuePosition}:
    get:
      tags:
      - BuildQueue
      summary: Get the queue position of a queued matching build.
      description: ''
      operationId: getQueuedBuildPosition
      parameters:
      - name: queuePosition
        in: path
        required: true
        schema:
          type: string
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/build'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/build'
              examples:
                response:
                  value: example
  /app/rest/buildQueue/{buildLocator}/approvalInfo:
    get:
      tags:
      - BuildQueue
      summary: Get approval info of a queued matching build.
      description: ''
      operationId: getApprovalInfo
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/approvalInfo'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/approvalInfo'
              examples:
                response:
                  value: example
  /app/rest/buildQueue/{buildLocator}/tags:
    get:
      tags:
      - BuildQueue
      summary: Get tags of the queued matching build.
      description: ''
      operationId: getQueuedBuildTags
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildQueueLocator
      - name: locator
        in: query
        required: false
        schema:
          type: string
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/tags'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/tags'
              examples:
                response:
                  value: example
  /app/rest/buildQueue/{queuedBuildLocator}:
    get:
      tags:
      - BuildQueue
      summary: Get a queued matching build.
      description: ''
      operationId: getQueuedBuild
      parameters:
      - name: queuedBuildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildQueueLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/build'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/build'
              examples:
                response:
                  value: example
  /app/rest/buildQueue/{queuedBuildLocator}/compatibleAgents:
    get:
      tags:
      - BuildQueue
      summary: Get compatible agents for a queued matching build.
      description: ''
      operationId: getCompatibleAgentsForBuild
      parameters:
      - name: queuedBuildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildQueueLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/agents'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/agents'
              examples:
                response:
                  value: example
  /app/rest/builds:
    get:
      tags:
      - Build
      summary: Get all builds.
      description: ''
      operationId: getAllBuilds
      parameters:
      - name: locator
        in: query
        required: false
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/builds'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/builds'
              examples:
                response:
                  value: example
  /app/rest/builds/aggregated/{buildLocator}/status:
    get:
      tags:
      - Build
      summary: Get the build status of aggregated matching builds.
      description: ''
      operationId: getAggregatedBuildStatus
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                type: string
  /app/rest/builds/aggregated/{buildLocator}/statusIcon{suffix}:
    get:
      tags:
      - Build
      summary: Get the status icon (in specified format) of aggregated matching builds.
      description: ''
      operationId: getAggregatedBuildStatusIcon
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: suffix
        in: path
        required: true
        schema:
          type: string
          pattern: (.*)?
      responses:
        default:
          description: successful operation
  /app/rest/builds/multiple/{buildLocator}:
    get:
      tags:
      - Build
      summary: Get multiple builds matching the locator.
      description: ''
      operationId: getMultipleBuilds
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/builds'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/builds'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}:
    get:
      tags:
      - Build
      summary: Get build matching the locator.
      description: ''
      operationId: getBuild
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/build'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/build'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/artifactDependencyChanges:
    get:
      tags:
      - Build
      summary: Get artifact dependency changes of the matching build.
      description: ''
      operationId: getArtifactDependencyChanges
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/buildChanges'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/buildChanges'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/artifacts:
    get:
      tags:
      - Build
      summary: List all files.
      description: ''
      operationId: getFilesListOfBuild
      parameters:
      - name: basePath
        in: query
        required: false
        schema:
          type: string
      - name: locator
        in: query
        required: false
        schema:
          type: string
      - name: fields
        in: query
        required: false
        schema:
          type: string
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: resolveParameters
        in: query
        required: false
        schema:
          type: boolean
      - name: logBuildUsage
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/files'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/files'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/artifacts/archived{path}:
    get:
      tags:
      - Build
      summary: Get specific file zipped.
      description: ''
      operationId: getZippedFileOfBuild
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
          pattern: (/.*)?
      - name: basePath
        in: query
        required: false
        schema:
          type: string
      - name: locator
        in: query
        required: false
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: resolveParameters
        in: query
        required: false
        schema:
          type: boolean
      - name: logBuildUsage
        in: query
        required: false
        schema:
          type: boolean
      responses:
        default:
          description: successful operation
          content:
            '*/*':
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/artifacts/files{path}:
    get:
      tags:
      - Build
      summary: Download specific file.
      description: ''
      operationId: downloadFileOfBuild
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
          pattern: (/.*)?
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: resolveParameters
        in: query
        required: false
        schema:
          type: boolean
      - name: logBuildUsage
        in: query
        required: false
        schema:
          type: boolean
      responses:
        default:
          description: successful operation
          content:
            '*/*':
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/artifacts/metadata{path}:
    get:
      tags:
      - Build
      summary: Get metadata of specific file.
      description: ''
      operationId: getFileMetadataOfBuild
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
          pattern: (/.*)?
      - name: fields
        in: query
        required: false
        schema:
          type: string
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: resolveParameters
        in: query
        required: false
        schema:
          type: boolean
      - name: logBuildUsage
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/file'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/file'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/artifacts/{path}:
    get:
      tags:
      - Build
      summary: List files under this path.
      description: ''
      operationId: getFilesListForSubpathOfBuild
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
          pattern: (.*)?
      - name: basePath
        in: query
        required: false
        schema:
          type: string
      - name: locator
        in: query
        required: false
        schema:
          type: string
      - name: fields
        in: query
        required: false
        schema:
          type: string
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: resolveParameters
        in: query
        required: false
        schema:
          type: boolean
      - name: logBuildUsage
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/files'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/files'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/artifactsDirectory:
    get:
      tags:
      - Build
      summary: Get the artifacts' directory of the matching build.
      description: ''
      operationId: getArtifactsDirectory
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/canceledInfo:
    get:
      tags:
      - Build
      summary: Check if the matching build is canceled.
      description: ''
      operationId: getCanceledInfo
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/comment'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/comment'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/finishDate:
    get:
      tags:
      - Build
      summary: Get the finish date of the matching build.
      description: ''
      operationId: getBuildFinishDate
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/number:
    get:
      tags:
      - Build
      summary: Get the number of the matching build.
      description: ''
      operationId: getBuildNumber
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/output-parameters:
    get:
      tags:
      - Build
      summary: Get output parameters published by the build.
      description: ''
      operationId: getBuildOutputParametersOfBuild
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/properties'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/properties'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/output-parameters/{propertyName}:
    get:
      tags:
      - Build
      summary: Returns the value of a build output parameter.
      description: ''
      operationId: getBuildOutputParameters
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: propertyName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/pinInfo:
    get:
      tags:
      - Build
      summary: Check if the matching build is pinned.
      description: ''
      operationId: getBuildPinInfo
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/pinInfo'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/pinInfo'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/problemOccurrences:
    get:
      tags:
      - Build
      summary: Get build problems of the matching build.
      description: ''
      operationId: getBuildProblems
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/problemOccurrences'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/problemOccurrences'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/relatedIssues:
    get:
      tags:
      - Build
      summary: Get related issues of the matching build.
      description: ''
      operationId: getBuildRelatedIssues
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/issuesUsages'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/issuesUsages'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/resolved/{value}:
    get:
      tags:
      - Build
      summary: Get the resolvement status of the matching build.
      description: ''
      operationId: getBuildResolved
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: value
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/resulting-properties:
    get:
      tags:
      - Build
      summary: Get actual build parameters of the matching build.
      description: ''
      operationId: getBuildActualParameters
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/properties'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/properties'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/resulting-properties/{propertyName}:
    get:
      tags:
      - Build
      summary: Returns the final value that a given parameter had after the build
        finished.
      description: ''
      operationId: getBuildResultingProperties
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: propertyName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/sources/files/{fileName}:
    get:
      tags:
      - Build
      summary: Get a source file of the matching build.
      description: ''
      operationId: getBuildSourceFile
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fileName
        in: path
        required: true
        schema:
          type: string
          pattern: .+
      responses:
        default:
          description: successful operation
          content:
            application/octet-stream:
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/statistics:
    get:
      tags:
      - Build
      summary: Get all statistical values of the matching build.
      description: ''
      operationId: getBuildStatisticValues
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/properties'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/properties'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/statistics/{name}:
    get:
      tags:
      - Build
      summary: Get a statistical value of the matching build.
      description: ''
      operationId: getBuildStatisticValue
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/status:
    get:
      tags:
      - Build
      summary: Get status of the matching build.
      description: ''
      operationId: getBuildStatus
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/statusIcon{suffix}:
    get:
      tags:
      - Build
      summary: Get the status icon (in specified format) of the matching build.
      description: ''
      operationId: getBuildStatusIcon
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: suffix
        in: path
        required: true
        schema:
          type: string
          pattern: (.*)?
      responses:
        default:
          description: successful operation
  /app/rest/builds/{buildLocator}/statusText:
    get:
      tags:
      - Build
      summary: Get the build status text of the matching build.
      description: ''
      operationId: getBuildStatusText
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/tags:
    get:
      tags:
      - Build
      summary: Get tags of the matching build.
      description: ''
      operationId: getBuildTags
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: locator
        in: query
        required: false
        schema:
          type: string
          format: TagLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/tags'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/tags'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/testOccurrences:
    get:
      tags:
      - Build
      summary: Get test occurrences of the matching build.
      description: ''
      operationId: getBuildTestOccurrences
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/testOccurrences'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/testOccurrences'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/vcsLabels:
    get:
      tags:
      - Build
      summary: Get VCS labels of the matching build.
      description: ''
      operationId: getBuildVcsLabels
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/vcsLabels'
              examples:
                response:
                  value: example
            application/json:
              schema:
                $ref: '#/components/schemas/vcsLabels'
              examples:
                response:
                  value: example
  /app/rest/builds/{buildLocator}/{field}:
    get:
      tags:
      - Build
      summary: Get a field of the matching build.
      description: ''
      operationId: getBuildField
      parameters:
      - name: buildLocator
        in: path
        required: true
        schema:
          type: string
          format: BuildLocator
      - name: field
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: example
components:
  requestBodies:
    projects:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/projects'
        application/json:
          schema:
            $ref: '#/components/schemas/projects'
    setAgentPoolFieldBody:
      content:
        text/plain:
          schema:
            type: string
    properties:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/properties'
        application/json:
          schema:
            $ref: '#/components/schemas/properties'
    user:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/user'
        application/json:
          schema:
            $ref: '#/components/schemas/user'
    type:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/type'
        application/json:
          schema:
            $ref: '#/components/schemas/type'
    role:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/role'
        application/json:
          schema:
            $ref: '#/components/schemas/role'
    buildTypes:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/buildTypes'
        application/json:
          schema:
            $ref: '#/components/schemas/buildTypes'
    projectFeature:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/projectFeature'
        application/json:
          schema:
            $ref: '#/components/schemas/projectFeature'
    feature:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/feature'
        application/json:
          schema:
            $ref: '#/components/schemas/feature'
    build:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/build'
        application/json:
          schema:
            $ref: '#/components/schemas/build'
    approveQueuedBuildBody:
      content:
        application/json:
          schema:
            type: string
    pinInfo:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/pinInfo'
        application/json:
          schema:
            $ref: '#/components/schemas/pinInfo'
    buildType:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/buildType'
        application/json:
          schema:
            $ref: '#/components/schemas/buildType'
    roles:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/roles'
        application/json:
          schema:
            $ref: '#/components/schemas/roles'
    groups:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/groups'
        application/json:
          schema:
            $ref: '#/components/schemas/groups'
    step:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/step'
        application/json:
          schema:
            $ref: '#/components/schemas/step'
    agentPool:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/agentPool'
        application/json:
          schema:
            $ref: '#/components/schemas/agentPool'
    project:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/project'
        application/json:
          schema:
            $ref: '#/components/schemas/project'
    tags:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/tags'
        application/json:
          schema:
            $ref: '#/components/schemas/tags'
    property:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/property'
        application/json:
          schema:
            $ref: '#/components/schemas/property'
    trigger:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/trigger'
        application/json:
          schema:
            $ref: '#/components/schemas/trigger'
    investigation:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/investigation'
        application/json:
          schema:
            $ref: '#/components/schemas/investigation'
    mutes:
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/mutes'
        application/json:
          schema:
            $ref: '#/components/schemas/mutes'
  schemas:
    ArtifactDownloadInfo:
      type: object
      properties:
        downloadTimestamp:
          type: string
          example: 20250402T151529+0200
          xml:
            attribute: true
          description: The time when a corresponding file was downloaded.
        path:
          type: string
          example: output/lib/log.txt
          xml:
            attribute: true
          description: The path to the artifact file on a build agent machine that
            processed the upstream build which published this file.
      x-object-type: DataEntity
      x-subpackage: .build.downloadedArtifacts.
      x-is-data: true
      description: Stores information about each of the files provided by a build
        chain build to a downstream dependent build. Can be accessed via the `artifactInfo`
        field of the `DownloadInfo` object.
    BuildExecutor:
      type: object
      properties:
        name:
          type: string
          example: k8s-external
          xml:
            attribute: true
          description: The name of an external executor that processed this build.
      x-help-article-name: External Kubernetes Agents
      x-help-article-link: https://www.jetbrains.com/help/teamcity/external-kubernetes-agents.html
      x-object-type: DataEntity
      x-subpackage: .agent.
      x-is-data: true
      description: Represents an executor of a build.
    BuildTriggerCustomization:
      type: object
      properties:
        enforceCleanCheckout:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns **true** if the agent should clear the build checkout
            directory before checking out sources from the VCS; otherwise, **false**.
        enforceCleanCheckoutForDependencies:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns **true** if the `enforceCleanCheckout` behavior should
            all apply to all snapshot dependencies of this build; otherwise, **false**.
        parameters:
          $ref: '#/components/schemas/properties'
      x-object-type: DataEntity
      x-subpackage: .buildType.
      x-is-data: true
      description: Passed to the `Trigger.buildCustomization` property to trigger
        a customized build.
    ChangeStatus:
      type: object
      properties:
        runningSuccessfullyBuilds:
          type: integer
          format: int32
          example: 1
          xml:
            attribute: true
          description: The number of builds that process this change and are currently
            running with the 'running and failing' status.
        pendingBuildTypes:
          type: integer
          format: int32
          example: 2
          xml:
            attribute: true
          description: The number of build configurations (build types) that have
            not yet processed this change and have it in their 'pending changes' list.
        finishedBuilds:
          type: integer
          format: int32
          example: 4
          xml:
            attribute: true
          description: The number of finished builds that processed this change, regardless
            of their final status.
        successfulBuilds:
          type: integer
          format: int32
          example: 2
          xml:
            attribute: true
          description: Returns how many of `finishedBuilds` finished successfully.
        totalProblems:
          type: integer
          format: int32
          example: 2
          xml:
            attribute: true
          description: The total number of build problems associated with this change,
            across all build configurations and their builds.
        newFailedTests:
          type: integer
          format: int32
          example: 2
          xml:
            attribute: true
          description: The total number of new failed tests associated with this change,
            across all build configurations and their builds.
        otherFailedTests:
          type: integer
          format: int32
          example: 2
          xml:
            attribute: true
          description: The total number of failed tests associated with this change.
            This number does not inlcude the number of new test failures.
        queuedBuildsCount:
          type: integer
          format: int32
          example: 1
          xml:
            attribute: true
          description: The number of currently queued builds whose list of processed
            changes includes this change.
        criticalBuilds:
          $ref: '#/components/schemas/builds'
        notCriticalBuilds:
          $ref: '#/components/schemas/builds'
        newTestsFailedBuilds:
          $ref: '#/components/schemas/builds'
        compilationErrorBuilds:
          $ref: '#/components/schemas/builds'
        runningBuilds:
          type: integer
          format: int32
          example: 3
          xml:
            attribute: true
          description: The number of currently running builds processing this change,
            regardless of their current build status.
        failedBuilds:
          type: integer
          format: int32
          example: 1
          xml:
            attribute: true
          description: Returns how many of `finishedBuilds` failed.
        cancelledBuilds:
          type: integer
          format: int32
          example: 1
          xml:
            attribute: true
          description: Returns how many of `finishedBuilds` were cancelled before
            they finished.
      x-object-type: DataEntity
      x-subpackage: .change.
      x-is-data: true
      description: 'Stores information this change in terms of effects it had on the
        TeamCity server: the number of failed/cancelled/successful builds, the number
        of build configurations that have this change in the pending changes list,
        the number of build problems and failed tests caused by this change, and so
        on. Fairly expensive to compute.'
    DeploymentHistory:
      type: object
      properties:
        currentState:
          $ref: '#/components/schemas/DeploymentStateEntry'
        states:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentStateEntry'
      x-object-type: DataEntity
      x-is-data: true
    DeploymentStateEntry:
      type: object
      properties:
        state:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESSFUL
          - FAILED
          - CANCELLED
          - UNKNOWN
        buildId:
          type: integer
          format: int64
        changeDate:
          type: string
          format: date-time
      x-object-type: DataEntity
      x-is-data: true
    FileChange:
      type: object
      properties:
        before-revision:
          type: string
          example: a351752816bb639a5044570fa40ea00f7b311727
          xml:
            attribute: true
          description: The revision a modified file had before the change.
        after-revision:
          type: string
          example: 42697188bbf4e4fdb5128b03f3c88e0da55a2dce
          xml:
            attribute: true
          description: The revision a modified file obtained after the change.
        changeType:
          type: string
          example: edited
          xml:
            attribute: true
          description: 'Specifies the type of a file edit: `added`, `removed`, or
            `edited`.'
        changeTypeComment:
          type: string
          xml:
            attribute: true
        file:
          type: string
          example: src/test/java/com/mycompany/app/AppTest.java
          xml:
            attribute: true
          description: The name of a modified file, including the relative repository
            path.
        relative-file:
          type: string
          example: src/test/java/com/mycompany/app/AppTest.java
          xml:
            attribute: true
          description: The relative name of a modified file.
        directory:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns **true** if a modified entity is a directory instead
            of a file; otherwise, **true**.
      x-object-type: DataEntity
      x-subpackage: .change.
      x-is-data: true
      description: The file changed by the specific commit.
    Issue:
      type: object
      properties:
        id:
          type: string
          xml:
            attribute: true
        url:
          type: string
          xml:
            attribute: true
      x-object-type: DataEntity
      x-subpackage: .issue.
      x-is-data: true
      description: Represents an issue related to the specific change.
    IssueUsage:
      type: object
      properties:
        changes:
          $ref: '#/components/schemas/changes'
        issue:
          $ref: '#/components/schemas/Issue'
      x-object-type: DataEntity
      x-subpackage: .issue.
      x-is-data: true
      description: Represents a relation between the issue and the Changes entity.
    LabeledValue:
      type: object
      properties:
        value:
          type: string
          xml:
            attribute: true
        label:
          type: string
          xml:
            attribute: true
      x-object-type: DataEntity
      x-subpackage: .project.
      x-is-data: true
    MatrixConfiguration:
      type: object
      properties:
        default:
          type: boolean
          example: false
          description: This is the internal property and is not intended to be used.
        parameters:
          $ref: '#/components/schemas/matrixBuildFeatureDescriptor'
        enabled:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* if the build feature is enabled; otherwise,
            *false*.
        dependencies:
          $ref: '#/components/schemas/MatrixDependencies'
      x-help-article-name: Matrix Build
      x-help-article-link: https://www.jetbrains.com/help/teamcity/matrix-build.html
      x-object-type: DataEntity
      x-subpackage: .build.matrix.
      x-is-data: true
      description: Stores unique matrix build settings. Matrix builds are virtual
        builds spawned by build configurations with the Matrix Build feature. This
        object is accessible via the `build.matrixConfiguration` field.
    MatrixDependencies:
      type: object
      properties:
        count:
          type: integer
          format: int32
          example: 7
          xml:
            attribute: true
          description: The number of MatrixDependency objects owned by this collection.
          x-defined-in-base: true
        dependency:
          type: array
          description: The list of MatrixDependency objects owned by this collection.
          x-is-first-container-var: true
          items:
            $ref: '#/components/schemas/MatrixDependency'
      x-object-type: ListEntity
      x-subpackage: .build.matrix.
      x-is-data: true
      x-is-list: true
      x-base-entity: Dependency
      description: Represents a list of Dependency entities.
    MatrixDependency:
      type: object
      properties:
        parameters:
          $ref: '#/components/schemas/entries'
        build:
          $ref: '#/components/schemas/build'
      x-help-article-name: Matrix Build
      x-help-article-link: https://www.jetbrains.com/help/teamcity/matrix-build.html
      x-object-type: DataEntity
      x-subpackage: .build.matrix.
      x-is-data: true
      description: Stores all combinations of Matrix Build parameter values and virtual
        builds that processed these combinations.
    MatrixParameterDescriptor:
      type: object
      properties:
        name:
          type: string
          xml:
            attribute: true
        valueCount:
          type: integer
          format: int32
          xml:
            attribute: true
        value:
          type: array
          items:
            $ref: '#/components/schemas/LabeledValue'
      x-object-type: DataEntity
      x-subpackage: .pages.matrix.
      x-is-data: true
    ParsedTestName:
      type: object
      properties:
        testPackage:
          type: string
          xml:
            attribute: true
        testSuite:
          type: string
          xml:
            attribute: true
        testClass:
          type: string
          xml:
            attribute: true
        testShortName:
          type: string
          xml:
            attribute: true
        testNameWithoutPrefix:
          type: string
          xml:
            attribute: true
        testMethodName:
          type: string
          xml:
            attribute: true
        testNameWithParameters:
          type: string
          xml:
            attribute: true
      x-object-type: DataEntity
      x-subpackage: .problem.
      x-is-data: true
      description: Represents test metadata (package, method, class, and so on).
    ProblemScope:
      type: object
      properties:
        project:
          $ref: '#/components/schemas/project'
        buildTypes:
          $ref: '#/components/schemas/buildTypes'
        buildType:
          $ref: '#/components/schemas/buildType'
      x-help-article-name: Working with Build and Test Failures
      x-help-article-link: https://www.jetbrains.com/help/teamcity/investigating-and-muting-build-failures.html
      x-object-type: DataEntity
      x-subpackage: .buildType.
      x-is-data: true
      description: The investigation scope that allows you to identify whether the
        problem scope is limited to the specific configurations or an entire project.
    ProblemTarget:
      type: object
      properties:
        anyProblem:
          type: boolean
          xml:
            attribute: true
          description: Returns **true** if the investigation targets an entire build
            configuration and is not related to any specific issue, **false** if the
            issue is a build problem or a failed test.
        tests:
          $ref: '#/components/schemas/tests'
        problems:
          $ref: '#/components/schemas/problems'
      x-help-article-name: Working with Build and Test Failures
      x-help-article-link: https://www.jetbrains.com/help/teamcity/investigating-and-muting-build-failures.html
      x-object-type: DataEntity
      x-subpackage: .buildType.
      x-is-data: true
      description: Specifies whether the issue is a build problem, a failed test,
        or not a specific issue at all (for configuration-wide investigations).
    Resolution:
      type: object
      properties:
        type:
          type: string
          xml:
            attribute: true
          enum:
          - manually
          - whenFixed
          - atTime
        time:
          type: string
      x-object-type: DataEntity
      x-subpackage: .problem.
      x-is-data: true
      description: Represents an investigation resolution timestamp and details.
    Revision:
      type: object
      properties:
        version:
          type: string
          example: version
          xml:
            attribute: true
          description: The SHA revision.
        internalVersion:
          type: string
          example: version
          xml:
            attribute: true
          description: The internally used revision number.
        vcsBranchName:
          type: string
          example: refs/heads/main
          xml:
            attribute: true
          description: The full name of a VCS branch where a corresponding change
            was authored.
        checkout-rules:
          type: string
          example: +:. => maven-root-repo
          description: The checkout rules of a configuration whose build processed
            a related change.
      x-help-article-name: Revision
      x-help-article-link: https://www.jetbrains.com/help/teamcity/revision.html
      x-object-type: DataEntity
      x-subpackage: .change.
      x-is-data: true
      description: The VCS revision for a related change.
    Revisions:
      type: object
      properties:
        count:
          type: integer
          format: int32
          example: 7
          xml:
            attribute: true
          description: The number of Revision objects in this collection.
          x-defined-in-base: true
        revision:
          type: array
          description: The list of Revision objects owned by this collection.
          x-is-first-container-var: true
          items:
            $ref: '#/components/schemas/Revision'
        failOnMissingRevisions:
          type: boolean
          example: true
          xml:
            attribute: true
          description: '**true** if the build should fail when child Revision objects
            are missing valid `version` values; **false** if in this case a build
            should process latest changes.'
      x-object-type: ListEntity
      x-subpackage: .change.
      x-is-data: true
      x-is-list: true
      x-base-entity: Revision
      description: Represents a list of Revision entities.
    SnapshotDependencyLink:
      type: object
      properties:
        build:
          $ref: '#/components/schemas/build'
        buildType:
          $ref: '#/components/schemas/buildType'
        buildTypeBranch:
          type: string
          description: The branch of build configuration that was targeted by an upstream
            build.
      x-object-type: DataEntity
      x-subpackage: .change.
      x-is-data: true
      description: The link to the upstream build of a chain that processed this change.
        If a downstream build of a chain includes a change that was already processed
        by an upstream build, this change's type equals `SNAPSHOT_DEPENDENCY_VCS_CHANGE`
        and its `snapshotDependencyLink` property stores data about this upstream
        build.
    StateField:
      type: object
      properties:
        value:
          type: boolean
          xml:
            attribute: true
        inherited:
          type: boolean
          xml:
            attribute: true
      x-object-type: DataEntity
      x-subpackage: .project.
      x-is-data: true
      description: Represents a project state field (as of now, limited to the read-only
        state of project).
    TriggeredBy:
      type: object
      properties:
        type:
          type: string
          example: user
          xml:
            attribute: true
          description: "Returns the following values depending on the authority that\
            \ triggered this build: \n\n* *user* if the build was triggered manually\
            \ in TeamCity UI or via REST API.\n* *snapshotDependency* if the build\
            \ is a part of a build chain and was requested by a downstream build configuration.\n\
            * *vcs* if the build was initiated by the VCS Trigger that found new commits\
            \ in the remote repository.\n* *schedule* if the build was initiated by\
            \ the Schedule Trigger.\n* *finishBuild* if the build was initiated by\
            \ the Finish Build Trigger.\n* *retry* if the build was initiated by the\
            \ Retry Trigger that re-starts failed builds."
        details:
          type: string
          xml:
            attribute: true
          description: Optional details regarding the triggering event.
        date:
          type: string
          example: 20240515T132432+0200
          xml:
            attribute: true
          description: The timestamp of the build triggering.
        displayText:
          type: string
          example: 'Snapshot dependency; Finish Build Trigger; Pet Clinic / Update
            Packages, build #27'
          xml:
            attribute: true
          description: The summary displayed next to the 'Triggered' line in TeamCity
            UI. Enumerates authorities that caused this build to run and displays
            the build's parent configuration name and number.
        rawValue:
          type: string
          example: '##buildTypeId=''bt403'' origin=''rest'' buildId=''9543'' type=''snapshotDependency''
            userId=''1'''
          xml:
            attribute: true
          description: The string representation of the `properties` array.
        user:
          $ref: '#/components/schemas/user'
        build:
          $ref: '#/components/schemas/build'
        buildType:
          $ref: '#/components/schemas/buildType'
        properties:
          $ref: '#/components/schemas/properties'
      x-object-type: DataEntity
      x-subpackage: .build.
      x-is-data: true
      description: Identifies the authority that triggered this build.
    agent:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 771
          xml:
            attribute: true
          description: An integer value that is the unique agent identificator.
        name:
          type: string
          example: Ubuntu-22.04-Large-i-045902939eae4af1a
          xml:
            attribute: true
          description: The public agent name. Cloud agent names are typically formed
            by appending the unique instance name to the parent cloud profile name.
        typeId:
          type: integer
          format: int32
          example: 661
          xml:
            attribute: true
          description: Returns the unique ID of the agent category. Local standalone
            have unique type IDs whereas cloud agents spawned from the same cloud
            image have the same type ID.
        connected:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* if the agent is connected to the TeamCity server;
            otherwise, *false*. Connected agents are those that can communicate with
            the TeamCity server.
        enabled:
          type: boolean
          example: true
          xml:
            attribute: true
          description: 'Returns *true* if the agent is enabled; otherwise, *false*.
            Enabled agents are those that are ready to process new bulds.


            Send `PUT` requests to the [`/app/rest/agents/{agentLocator}/enabledInfo`](https://www.jetbrains.com/help/teamcity/rest/agentapi.html#setEnabledInfo)
            endpoint to manually enable or disable agents.'
        authorized:
          type: boolean
          example: true
          xml:
            attribute: true
          description: 'Returns *true* if the agent is authorized on the server; otherwise,
            *false*. Authorized agents are those that are granted permission to execute
            building tasks on this TeamCity server.


            Send `PUT` requests to the [`/app/rest/agents/{agentLocator}/authorizedInfo`](https://www.jetbrains.com/help/teamcity/rest/agentapi.html#setAuthorizedInfo)
            endpoint to manually authorize or unauthorize agents.'
        uptodate:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns *true* if both `outdated` and `pluginsOutdated` properties
            return *false*; *false* if any of these properties returns *true*.
        outdated:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* for outdated agents that require an update;
            *false* for agents that are up to date. Agents typically update their
            software automatically and do not require any actions from your side.
        pluginsOutdated:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns *false* if all plugins installed on this agent are
            of the latest version; *true* if some of plugins are outdated. Plugins
            installed from the JetBrains Marketplace are typically updated automatically.
        javaOutdated:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns *true* the Java version installed on the agent machine
            is outdated; otherwise, *false*.
        ip:
          type: string
          example: 52.211.39.100
          xml:
            attribute: true
          description: The IP address of the agent machine.
        protocol:
          type: string
          xml:
            attribute: true
          description: 'Returns the agent-server communication protocol type:


            * *unidirectional* — the default one-way communication protocol. Unidirectional
            agents establish an HTTP(S) connection to the TeamCity server, and periodically
            poll it for server commands.

            * *bidirectional* — [no longer supported](https://www.jetbrains.com/help/teamcity/upgrade-notes.html#Canceled+bidirectional+agent-server+communication+protocol)
            in TeamCity 2021.2 and newer.'
          enum:
          - unidirectional
          - bidirectional
        version:
          type: string
          example: '156364'
          xml:
            attribute: true
          description: The actual version of the agent software or 'unknown' if the
            agent is disconnected. If this version differs from the version expected
            by the server (the `currentAgentVersion` property), the agent is considered
            outdated.
        currentAgentVersion:
          type: string
          example: '160569'
          xml:
            attribute: true
          description: The version of the agent software that is expected by the current
            TeamCity server. Matches the build number of this server (can be obtained
            from the `/app/rest/server/build` endpoint).
        lastActivityTime:
          type: string
          example: 20240816T151123+0200
          xml:
            attribute: true
          description: 'The timestamp of the last comminication between this agent
            and the TeamCity server.


            To get the last time this agent performed an activity different from periodic
            server polling (for example, ran a build), use the `idleSinceTime` property
            instead.'
        idleSinceTime:
          type: string
          example: 20240816T150655+0200
          xml:
            attribute: true
          description: The timestamp of the last meaningful agent activity (for example,
            running a build). For agents that never ran a build after they were authorized
            by the server, this timestamp is typically equal to the `registrationTimestamp`
            property value.
        disconnectionComment:
          type: string
          example: Unregistered because of inactivity
          xml:
            attribute: true
          description: The summary that explains why this agent was disconnected.
            Returns `null` for connected agents.
        registrationTimestamp:
          type: string
          example: 20240816T150655+0200
          xml:
            attribute: true
          description: The timestamp of the first successful agent authorization on
            this server.
        host:
          type: string
          example: ip-52-211-39-10.eu-west-1.compute.internal, localhost
          xml:
            attribute: true
          description: The name of the agent machine host.
        cpuRank:
          type: integer
          format: int32
          example: 396
          xml:
            attribute: true
          description: An integer value that is the [benchmarking score](https://www.jetbrains.com/help/teamcity/viewing-build-agent-details.html#Agent+Summary)
            of the agent machine's CPU.
        port:
          type: integer
          format: int32
          example: 9090
          xml:
            attribute: true
          description: The port used by the TeamCity server to connect to the agent.
        href:
          type: string
          example: /app/rest/agents/id:771
          xml:
            attribute: true
          description: Returns the shortened (without the server URL) link to the
            current agent. To obtain the full URL, use the *webUrl* property instead.
          x-defined-in-base: true
        webUrl:
          type: string
          example: https://example.com/agentDetails.html?id=771&agentTypeId=11389&realAgentName=db-win-2003
          xml:
            attribute: true
          description: Returns the full web link to access this agent. To get a shortened
            link without the server URL, read the *href* property instead.
        build:
          $ref: '#/components/schemas/build'
        links:
          $ref: '#/components/schemas/links'
        enabledInfo:
          $ref: '#/components/schemas/enabledInfo'
        authorizedInfo:
          $ref: '#/components/schemas/authorizedInfo'
        properties:
          $ref: '#/components/schemas/properties'
        cloudInstance:
          $ref: '#/components/schemas/cloudInstance'
        cloudImage:
          $ref: '#/components/schemas/cloudImage'
        environment:
          $ref: '#/components/schemas/environment'
        pool:
          $ref: '#/components/schemas/agentPool'
        compatibilityPolicy:
          $ref: '#/components/schemas/compatibilityPolicy'
        compatibleBuildTypes:
          $ref: '#/components/schemas/buildTypes'
        incompatibleBuildTypes:
          $ref: '#/components/schemas/compatibilities'
        builds:
          $ref: '#/components/schemas/builds'
        removed:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns *true* if the agent was removed after a long period
            of inactivity; otherwise, *false*.
        locator:
          type: string
          xml:
            attribute: true
      x-help-article-name: Build Agent
      x-help-article-link: https://www.jetbrains.com/help/teamcity/build-agent.html
      x-object-type: DataEntity
      x-subpackage: .agent.
      x-is-data: true
      xml:
        name: agent
      description: Represents a known agent instance.
    agentPool:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 31
          xml:
            attribute: true
          description: The unique ID of this pool. The Default pool has the ID value
            of *0*.
        name:
          type: string
          example: Kubernetes
          xml:
            attribute: true
          description: The public name of the pool.
        href:
          type: string
          example: /app/rest/agentPools/id:82
          xml:
            attribute: true
          description: Returns the shortened (without the server URL) link to the
            current pool.
          x-defined-in-base: true
        maxAgents:
          type: integer
          format: int32
          example: 10
          xml:
            attribute: true
          description: The pool capacity. Returns *null* for pools with the unlimited
            number of agent slots.
        ownerProject:
          $ref: '#/components/schemas/project'
        projects:
          $ref: '#/components/schemas/projects'
        agents:
          $ref: '#/components/schemas/agents'
        locator:
          type: string
          xml:
            attribute: true
        agentTypes:
          $ref: '#/components/schemas/agentTypes'
      x-help-article-name: Agent Pool
      x-help-article-link: https://www.jetbrains.com/help/teamcity/agent-pool.html
      x-object-type: DataEntity
      x-subpackage: .agent.
      x-is-data: true
      xml:
        name: agentPool
      description: An agent pool that is the group of agents with shared permissions
        and available projects.
    agentType:
      type: object
      properties:
        name:
          type: string
          example: Ubuntu-22.04-Large (ami-0123456ab78c9de0)
          xml:
            attribute: true
          description: The name of a local agent or a cloud image that belongs to
            this type.
        id:
          type: integer
          format: int32
          example: 283
          xml:
            attribute: true
          description: An integer value that is the unique agent identificator.
        isCloud:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns *true* if this type identifies agents spawned from
            a cloud image; *false* if this type identifies a local stand-alone agent.
        buildParameters:
          $ref: '#/components/schemas/properties'
        configurationParameters:
          $ref: '#/components/schemas/properties'
        availableParameters:
          $ref: '#/components/schemas/properties'
        systemParameters:
          $ref: '#/components/schemas/properties'
        environmentParameters:
          $ref: '#/components/schemas/properties'
        environment:
          $ref: '#/components/schemas/environment'
      x-object-type: DataEntity
      x-subpackage: .agent.
      x-is-data: true
      xml:
        name: agentType
      description: The agent type that describes common properties shared by all agents
        of this type. Stand-alone local agents are the only representatives of their
        corresponding types, whereas cloud agents spawned from the same cloud image
        belong to the same type.
    agentTypes:
      type: object
      properties:
        count:
          type: integer
          format: int32
          example: 1
          xml:
            attribute: true
          description: The current number of AgentType objects in this list.
          x-defined-in-base: true
        nextHref:
          type: string
          example: /app/rest/agentTypes?locator=count:200,start:250
          xml:
            attribute: true
          description: If the list of returned entities exceeds the request `count`
            value, TeamCity splits it into multiple batches. This property returns
            the endpoint that allows you to obtain the next batch.
          x-defined-in-base: true
        prevHref:
          type: string
          example: /app/rest/agentTypes?locator=count:50,start:0
          xml:
            attribute: true
          description: If the list of returned entities exceeds the request `count`
            value, TeamCity splits it into multiple batches. This property returns
            the endpoint that allows you to obtain the previous batch.
          x-defined-in-base: true
        href:
          type: string
          example: /app/rest/agentTypes
          xml:
            attribute: true
          description: The relative link (without the server URL) used to retrieve
            this object.
          x-defined-in-base: true
        agentType:
          type: array
          description: The list of AgentTypes owned by this collection.
          x-is-first-container-var: true
          items:
            $ref: '#/components/schemas/agentType'
      x-object-type: PaginatedEntity
      x-subpackage: .agent.
      x-is-data: true
      x-is-list: true
      x-is-paginated: true
      x-base-entity: AgentType
      xml:
        name: agentTypes
      description: Represents a paginated list of AgentType entities.
    agents:
      type: object
      properties:
        count:
          type: integer
          format: int32
          example: 7
          xml:
            attribute: true
          description: The current number of Agent objects in this list.
          x-defined-in-base: true
        nextHref:
          type: string
          example: /app/rest/agents?locator=count:200,start:250
          xml:
            attribute: true
          description: If the list of returned entities exceeds the request `count`
            value, TeamCity splits it into multiple batches. This property returns
            the endpoint that allows you to obtain the next batch.
          x-defined-in-base: true
        prevHref:
          type: string
          example: /app/rest/agents?locator=count:50,start:0
          xml:
            attribute: true
          description: If the list of returned entities exceeds the request `count`
            value, TeamCity splits it into multiple batches. This property returns
            the endpoint that allows you to obtain the previous batch.
          x-defined-in-base: true
        href:
          type: string
          example: /app/rest/agents
          xml:
            attribute: true
          description: The relative link (without the server URL) used to retrieve
            this object.
          x-defined-in-base: true
        agent:
          type: array
          description: The list of Agents owned by this collection.
          x-is-first-container-var: true
          items:
            $ref: '#/components/schemas/agent'
      x-object-type: PaginatedEntity
      x-subpackage: .agent.
      x-is-data: true
      x-is-list: true
      x-is-paginated: true
      x-base-entity: Agent
      xml:
        name: agents
      description: Represents a paginated list of Agent entities.
    approvableBuild:
      type: object
      properties:
        buildId:
          type: string
          example: '124'
          xml:
            attribute: true
          description: The ID of a build that requires manual approval.
        buildTypeId:
          type: string
          example: Deployments_Deploy_to_global
          xml:
            attribute: true
          description: The ID of a build configuration that spawned this approvable
            build.
        buildTypeName:
          type: string
          example: Deploy to global
          xml:
            attribute: true
          description: The name of a build configuration that spawned this approvable
            build.
      x-object-type: DataEntity
      x-subpackage: .build.approval.
      x-is-data: true
      xml:
        name: approvableBuild
      description: 'A build that cannot start until explicitly approved by designated
        team members. See the [Build approval](https://www.jetbrains.com/help/teamcity/build-approval.html)
        build feature and [Untrusted Builds](https://www.jetbrains.com/help/teamcity/untrusted-builds.html)
        project settings for more information.

        Send a `POST` request to the `/app/rest/buildQueue/{buildLocator}/approve`
        endpoint to manually approve a build.'
    approvalInfo:
      type: object
      properties:
        canBeApprovedByCurrentUser:
          type: boolean
          xml:
            attribute: true
          description: Returns *true* if the currently authorized user is among TeamCity
            users who can approve this build; otherwise, *false*.
        configurationValid:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* if the configuration of users and user groups
            that should approve this build is valid; otherwise, *false*.
        userApprovals:
          $ref: '#/components/schemas/userApprovals'
        groupApprovals:
          $ref: '#/components/schemas/groupApprovals'
        compositeApprovals:
          $ref: '#/components/schemas/compositeApprovals'
        approvalReasons:
          type: array
          description: Returns the reasons why TeamCity is waiting for build approval.
          items:
            $ref: '#/components/schemas/approvableBuild'
        buildChainBuilds:
          type: array
          description: The list of other builds (both upstream and downstream) that
            belong to the same build chain and require an approval.
          items:
            $ref: '#/components/schemas/buildsWithReason'
        timeoutTimestamp:
          type: string
          example: 20250401T172235+0200
          xml:
            attribute: true
          description: The timestamp when the build is (or was) canceled due to reviewers
            failing to approve it on time. This value is calculated at the moment
            a build is queued.
        status:
          type: string
          example: waitingForApproval
          xml:
            attribute: true
          description: 'The current build status. Supported values:


            * *waitingForApproval* — the build is waiting in a build queue;

            * *approved* — the build received a required number of approvals from
            reviewers;

            * *timedOut* — the build was automatically canceled as the reviewer(s)
            failed to approve it within the given time;

            * *canceled* — reviewer(s) explicitly canceled the build.'
          enum:
          - waitingForApproval
          - approved
          - timedOut
          - canceled
      x-object-type: DataEntity
      x-subpackage: .build.approval.
      x-is-data: true
      xml:
        name: approvalInfo
      description: If a build cannot start without a manual approval from specific
        reviewers, it stores related information in a related ApprovalInfo object.
    authorizedInfo:
      type: object
      properties:
        status:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* if the current object state is enabled (for
            example, pinned for build `PinInfo` or authorized for agent `AuthorizedInfo`;
            otherwise, *false*.
        comment:
          $ref: '#/components/schemas/comment'
      x-help-article-name: Build Agent
      x-help-article-link: https://www.jetbrains.com/help/teamcity/build-agent.html
      x-object-type: DataEntity
      x-subpackage: .agent.
      x-is-data: true
      xml:
        name: authorizedInfo
      description: Contains information about agent authorization state. Send AuthorizedInfo
        objects to the [`/app/rest/agents/{agentLocator}/authorizedInfo`](https://www.jetbrains.com/help/teamcity/rest/agentapi.html#setAuthorizedInfo)
        endpoint via `PUT` requests to manually authorize and unauthorize agents.
    branch:
      type: object
      properties:
        name:
          type: string
          example: main
          xml:
            attribute: true
          description: A public branch name displayed in TeamCity UI. To get a full
            VCS name instead (for example, 'refs/heads/main'), read the *vcsBranchName*
            property of a nested Revision entity.
        internalName:
          type: string
          example: '&lt;default&gt;'
          xml:
            attribute: true
          description: An internal branch name. Returns `<default>` for default branches,
            and real branch names for other (non-default) branches.
        default:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns **true** if this branch is the default branch of this
            build configuration; otherwise, **false**. When obtaining builds of the
            specific BuildType, add the *branch(default:any)* locator to get builds
            from all existing branches.
        unspecified:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns **true** for unspecified branches; otherwise, **false**.
            A branch is labeled as unspecified when TeamCity fails to find a branch
            for this build. Such branches have a predefined '<unspecified>' name.
        active:
          type: boolean
          example: true
          xml:
            attribute: true
          description: 'Returns **true** for active branches and **false** for inactive
            ones. A branch is considered inactive if it had neither new TeamCity builds
            in the last 24 hours, nor recent VCS repository changes in the last 7
            days. Learn more: [Active branches](https://www.jetbrains.com/help/teamcity/working-with-feature-branches.html#Active+Branches).'
        lastActivity:
          type: string
          example: 20240426T123848+0200
          xml:
            attribute: true
          description: Returns the date and time of the last branch activity (the
            last TeamCity build or the latest VCS commit).
        groupFlag:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns **true** if the branch belongs to the automatically
            created 'My Branches' group; otherwise, **false**. Branch grouping allows
            TeamCity to automatically categorize branches based on current TeamCity
            user commits.
        builds:
          $ref: '#/components/schemas/builds'
      x-help-article-name: Feature Branches
      x-help-article-link: https://www.jetbrains.com/help/teamcity/working-with-feature-branches.html
      x-object-type: DataEntity
      x-subpackage: .build.
      x-is-data: true
      xml:
        name: branch
      description: Represents a branch of the remote repository that stores sources
        processed by this build.
    branches:
      type: object
      properties:
        count:
          type: integer
          format: int32
          example: 4
          xml:
            attribute: true
          description: The current number of Branch objects in this list.
          x-defined-in-base: true
        href:
          type: string
          example: /app/rest/buildTypes/MyProject_MyBuildConfig/branches
          xml:
            attribute: true
          description: The relative link (without the server URL) used to retrieve
            this object.
          x-defined-in-base: true
        branch:
          type: array
          description: The list of branches owned by this collection that satisfy
            the given locator.
          x-is-first-container-var: true
          items:
            $ref: '#/components/schemas/branch'
      x-object-type: ListEntity
      x-subpackage: .build.
      x-is-data: true
      x-is-list: true
      x-base-entity: Branch
      xml:
        name: branches
      description: Represents a list of Branch entities.
    build:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 8134
          xml:
            attribute: true
          description: The automatically generated unique ID of the build.
        taskId:
          type: integer
          format: int64
          xml:
            attribute: true
        buildTypeId:
          type: string
          example: ProjectName_BuildConfName
          xml:
            attribute: true
          description: Returns the ID of the corresponding build configuration. To
            obtain this configuration itself, use the *buildType* property instead.
        buildTypeInternalId:
          type: string
          xml:
            attribute: true
          description: This property supports the internal infrastructure and is not
            intented to be used. Use the *buildTypeId* property instead to access
            the regular build configuration ID.
        number:
          type: string
          example: '54'
          xml:
            attribute: true
          description: Returns a public build number this build is assigned in its
            build configuration, *null* if a build is still queued, or *N/A* if a
            queued build was canceled before it started.
        status:
          type: string
          example: SUCCESS
          xml:
            attribute: true
          description: "Returns whether a build has finished successfully (or is expected\
            \ to finish so, if still running). Possible values: \n\n* *null* for queued\
            \ builds. \n* *SUCCESS* for builds that have successfully finished or\
            \ still running without errors. \n* *FAILURE* for builds that failed to\
            \ start or failed during their run. \n* *UNKNOWN* for canceled builds."
        state:
          type: string
          example: queued
          xml:
            attribute: true
          description: 'Returns the actual stage of the build''s lifecycle: queued,
            running, or finished.'
          enum:
          - queued
          - finished
          - running
          - deleted
          - unknown
        running:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* if the build is currently running; otherwise,
            *false*.
        composite:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns *true* if this is build is composite; otherwise, *false*.Composite
            builds aggregate results of multiple child builds. These builds can belong
            to [composite build configurations](https://www.jetbrains.com/help/teamcity/composite-build-configuration.html)
            or can be spawned automatically (for example, to aggregate results of
            parallel tests).
        failedToStart:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* if this build was automatically removed from
            the building queue (for example, if an error occured or the appointed
            reviewers failed to [approve the build](https://www.jetbrains.com/help/teamcity/cloud/build-approval.html)
            in time); otherwise, *false*.Does not return *true* for manually cancelled
            builds
        personal:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* for [personal builds](https://www.jetbrains.com/help/teamcity/personal-build.html)
            and *false* for regular builds.
        percentageComplete:
          type: integer
          format: int32
          xml:
            attribute: true
          description: This property is deprecated, see *running-info* property instead.
        branchName:
          type: string
          example: sandbox
          xml:
            attribute: true
          description: Returns the name of the repository branch whose changes are
            processed in the current build. This property returns the [logical branch
            name](https://www.jetbrains.com/help/teamcity/working-with-feature-branches.html#Logical+Branch+Name)
            (*main*), not a fully specified VCS branch name (*refs/heads/main*).
        defaultBranch:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* if the current build processes changes from
            the branch specified as default branch in VCS root settings; otherwise,
            *false*.
        unspecifiedBranch:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns *true* if the branch name equals `&lt;unspecified&gt;`;
            otherwise, *false*. A branch can have this name if TeamCity fails to retrieve
            a valid branch name.
        history:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* for [history builds](https://www.jetbrains.com/help/teamcity/history-build.html)
            that started after a build with most recent code changes; otherwise, *false*.
        pinned:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* if the build is currently [pinned](https://www.jetbrains.com/help/teamcity/build-actions.html#Pin+Build);
            otherwise, *false*.Send GET and PUT requests to `/app/rest/builds/<build-locator>/pinInfo`
            to get the detailed information about pinned builds and manually pin/unpin
            these builds.
        href:
          type: string
          example: /app/rest/builds/id:8006
          xml:
            attribute: true
          description: Returns the shortened (without the server URL) link to the
            current build. To obtain the full URL, use the *webUrl* property instead.
          x-defined-in-base: true
        webUrl:
          type: string
          example: https://example.com/app/rest/builds/id:8006
          xml:
            attribute: true
          description: Returns the full web link to access this build. To get a link
            without the server URL, read the *href* property instead.
        queuePosition:
          type: integer
          format: int32
          example: 2
          xml:
            attribute: true
          description: Returns the build's position in the building queue.
        limitedChangesCount:
          type: integer
          format: int32
          example: 3
          xml:
            attribute: true
          description: Returns the number of changes processed in this build.
        artifactsDirectory:
          type: string
          example: /Users/John.Doe/.BuildServer/system/artifacts/ProjectName/ConfigName/1337
          xml:
            attribute: true
          description: Returns the path to the built-in artifact storage.
        links:
          $ref: '#/components/schemas/links'
        statusText:
          type: string
          example: 'Tests passed: 5, muted: 1'
          description: Returns the additional information about the finished or running
            build. Returns nothing if a build is still queued, read the *waitReason*
            property instead to get the current status of a queued build.In TeamCity
            UI, this string is displayed next to the build status icon ("Canceled",
            "Step 3/7", "Error while applying patch", and so on).
        buildType:
          $ref: '#/components/schemas/buildType'
        comment:
          $ref: '#/components/schemas/comment'
        tags:
          $ref: '#/components/schemas/tags'
        pinInfo:
          $ref: '#/components/schemas/comment'
        user:
          $ref: '#/components/schemas/user'
        startEstimate:
          type: string
          example: 20240409T155123+0200
          description: If this build is still queued, this property returns the estimated
            time (UTC) of an actual build start.
        waitReason:
          type: string
          example: There are no idle compatible agents which can run this build
          description: Returns the actual reason why this build remains in build queue.
            This property returns the most recent wait reason from the *queuedWaitReasons*
            array.
        finishEstimate:
          type: string
          example: 20240409T160130+0200
          description: Returns the estimated time this build will finish. Returns
            a value only for queued builds and *null* for those that already run.
        delayedByBuild:
          $ref: '#/components/schemas/build'
        plannedAgent:
          $ref: '#/components/schemas/agent'
        approvalInfo:
          $ref: '#/components/schemas/approvalInfo'
        canceledInfo:
          $ref: '#/components/schemas/comment'
        queuedDate:
          type: string
          example: 20240408T162059+0200
          description: Returns the date and time (UTC) when this build was queued.
            Note that the moment this build actually starts is stored in the different
            property (*startDate*)..
        startDate:
          type: string
          example: 20240408T162559+0200
          description: Returns the date and time (UTC) of the moment the build actually
            started. Note that the moment a build was triggered is stored in the *queuedDate*
            property.
        finishDate:
          type: string
          example: 20240408T162702+0200
          description: Returns the date and time of the moment the build was removed
            from the queue (finished, failed, or was canceled). The value is in UTC
            and corresponds to the server timezone.
        triggered:
          $ref: '#/components/schemas/TriggeredBy'
        lastChanges:
          $ref: '#/components/schemas/changes'
        changes:
          $ref: '#/components/schemas/changes'
        revisions:
          $ref: '#/components/schemas/Revisions'
        versionedSettingsRevision:
          $ref: '#/components/schemas/Revision'
        artifactDependencyChanges:
          $ref: '#/components/schemas/buildChanges'
        agent:
          $ref: '#/components/schemas/agent'
        compatibleAgents:
          $ref: '#/components/schemas/agents'
        compatibleCloudImages:
          $ref: '#/components/schemas/cloudImages'
        testOccurrences:
          $ref: '#/components/schemas/testOccurrences'
        problemOccurrences:
          $ref: '#/components/schemas/problemOccurrences'
        artifacts:
          $ref: '#/components/schemas/files'
        relatedIssues:
          $ref: '#/components/schemas/issuesUsages'
        properties:
          $ref: '#/components/schemas/properties'
        resultingProperties:
          $ref: '#/components/schemas/properties'
        originalProperties:
          $ref: '#/components/schemas/properties'
        startProperties:
          $ref: '#/components/schemas/properties'
        attributes:
          $ref: '#/components/schemas/entries'
        statistics:
          $ref: '#/components/schemas/properties'
        metadata:
          $ref: '#/components/schemas/datas'
        snapshot-dependencies:
          $ref: '#/components/schemas/builds'
        artifact-dependencies:
          $ref: '#/components/schemas/builds'
        settingsHash:
          type: string
        currentSettingsHash:
          type: string
        modificationId:
          type: string
        chainModificationId:
          type: string
        replacementIds:
          $ref: '#/components/schemas/items'
        related:
          $ref: '#/components/schemas/related'
        triggeringOptions:
          $ref: '#/components/schemas/buildTriggeringOptions'
        usedByOtherBuilds:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* if at least one dependent build has [reused
            this build](https://www.jetbrains.com/help/teamcity/snapshot-dependencies.html#Suitable+Builds)
            instead of triggering a new one.
        statusChangeComment:
          $ref: '#/components/schemas/comment'
        vcsLabels:
          type: array
          description: Returns a list of [labels](https://www.jetbrains.com/help/teamcity/vcs-labeling.html)
            that tag sources of this particular build.
          items:
            $ref: '#/components/schemas/vcsLabel'
        detachedFromAgent:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns *true*, if running build no longer [occupies a build
            agent](https://www.jetbrains.com/help/teamcity/detaching-build-from-agent.html);
            otherwise, *false*.
        finishOnAgentDate:
          type: string
          example: 20240408T162702+0200
          description: Similar to the *finishDate* property, but adjusts the date
            and time according to the agent timezone.
        customized:
          type: boolean
          example: true
          xml:
            attribute: true
          description: Returns *true* if the build is running with non-default parameter,
            dependency, and (or) changes settings (for example, reuses the manually
            selected build or targets the specific changes revision instead of building
            latest changes); otherwise, *false*.
        customization:
          $ref: '#/components/schemas/customizations'
        changesCollectingInProgress:
          type: boolean
          example: false
          xml:
            attribute: true
          description: Returns *true* if the build is currently collecting changes
            from a remote repository; otherwise, *false*.
        queuedWaitReasons:
          $ref: '#/components/schemas/properties'
        downloadedArtifacts:
          $ref: '#/components/schemas/downloadedArtifacts'
        matrixConfiguration:
          $ref: '#/components/schemas/MatrixConfiguration'
        firstBuildWithSameChanges:
          $ref: '#/components/schemas/build'
        executor:
          $ref: '#/components/schemas/BuildExecutor'
        locator:
          type: string
          xml:
[...]
