openapi: 3.0.0
info:
  title: Social API
  description: |
    This OpenAPI 3.0 specification defines a set of GET endpoints for retrieving
    followers, followings, tweets, comments, retweets, quotes, user profiles, search
    results, jobs, communities, trends, and more.
  version: 1.0.0
servers:
  - url: https://twitter241.p.rapidapi.com
security:
  - RapidAPIKey: []
components:
  securitySchemes:
    RapidAPIKey:
      type: apiKey
      in: header
      name: X-RapidAPI-Key
      description: Your RapidAPI key.
  parameters:
    RapidAPIHostHeader:
      name: X-RapidAPI-Host
      in: header
      required: true
      schema:
        type: string
        default: twitter241.p.rapidapi.com
      description: The RapidAPI host for Twitter service.
paths:
  /followers:
    get:
      summary: Get User Followers
      description: Retrieve a list of users who follow a specified user.
      operationId: "followers"
      parameters:
        - $ref: '#/components/parameters/RapidAPIHostHeader'
        - name: user
          in: query
          description: The user ID (rest_id) of the target user whose followers you want to retrieve.
          required: true
          schema:
            type: string
        - name: count
          in: query
          description: The number of followers to return per request (max is 70).
          required: false
          schema:
            type: string
        - name: cursor
          in: query
          description: A pagination cursor to fetch the next set of followers.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A cursor-based list of follower users
          content:
            application/json:
              schema:
                type: object
      x-endpoint-id: b22f0a5c-ec1a-46d9-b1af-a5d4045879b0
      x-ai-enabled: true
      x-test-success: true
      x-description: This endpoint retrieves a list of users who follow a specified user. It accepts a mandatory 'user' parameter (the target user's rest_id) and optional 'count' (number of followers to return, maximum 70) and 'cursor' for pagination.
      x-tested-response:
        cursor:
          bottom: 0|1939340256222380029
          top: '-1|1939340256222380033'
        result:
          timeline:
            instructions:
              - type: TimelineClearCache
              - type: TimelineTerminateTimeline
                direction: Top
              - type: TimelineTerminateTimeline
                direction: Bottom
              - type: TimelineAddEntries
                entries:
                  - entryId: user-1937506630117015554
                    sortIndex: '1939340256222380032'
                    content:
                      entryType: TimelineTimelineItem
                      __typename: TimelineTimelineItem
                      itemContent:
                        itemType: TimelineUser
                        __typename: TimelineUser
                        user_results:
                          result:
                            __typename: User
                            id: VXNlcjoxOTM3NTA2NjMwMTE3MDE1NTU0
                            rest_id: '1937506630117015554'
                            affiliates_highlighted_label: {}
                            avatar:
                              image_url: https://pbs.twimg.com/profile_images/1937506847746928640/tArDQ7Ow_normal.png
                            core:
                              created_at: Tue Jun 24 13:42:45 +0000 2025
                              name: ApInference
                              screen_name: ApInference
                            dm_permissions:
                              can_dm: false
                            has_graduated_access: false
                            is_blue_verified: false
                            legacy:
                              default_profile: true
                              default_profile_image: false
                              description: A smart conversational layer on top of any API in minutes
                              entities:
                                description:
                                  urls: []
                                url:
                                  urls:
                                    - display_url: apinference.com
                                      expanded_url: http://apinference.com
                                      url: https://t.co/da8qKUciIP
                                      indices:
                                        - 0
                                        - 23
                              fast_followers_count: 0
                              favourites_count: 0
                              followers_count: 1
                              friends_count: 135
                              has_custom_timelines: false
                              is_translator: false
                              listed_count: 0
                              media_count: 0
                              normal_followers_count: 1
                              pinned_tweet_ids_str:
                                - '1937512174668382424'
                              possibly_sensitive: false
                              profile_interstitial_type: ''
                              statuses_count: 6
                              translator_type: none
                              url: https://t.co/da8qKUciIP
                              want_retweets: false
                              withheld_in_countries: []
                            location:
                              location: ''
                            media_permissions:
                              can_media_tag: true
                            parody_commentary_fan_label: None
                            profile_image_shape: Circle
                            privacy:
                              protected: false
                            relationship_perspectives:
                              following: false
                            tipjar_settings: {}
                            verification:
                              verified: false
                        userDisplayType: User
                      clientEventInfo:
                        component: FollowersSgs
                        element: user
                  - entryId: cursor-bottom-1939340256222380031
                    sortIndex: '1939340256222380031'
                    content:
                      entryType: TimelineTimelineCursor
                      __typename: TimelineTimelineCursor
                      value: 0|1939340256222380029
                      cursorType: Bottom
                  - entryId: cursor-top-1939340256222380033
                    sortIndex: '1939340256222380033'
                    content:
                      entryType: TimelineTimelineCursor
                      __typename: TimelineTimelineCursor
                      value: '-1|1939340256222380033'
                      cursorType: Top
  /followings:
    get:
      summary: Get User Followings
      description: Retrieve a list of users that a specified user is following.
      operationId: "followings"
      parameters:
        - $ref: '#/components/parameters/RapidAPIHostHeader'
        - name: user
          in: query
          description: The user ID (rest_id) of the target user whose followings you want to retrieve.
          required: true
          schema:
            type: string
        - name: count
          in: query
          description: The number of followings to return per request (max is 70).
          required: false
          schema:
            type: string
        - name: cursor
          in: query
          description: A pagination cursor to fetch the next set of followings.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A cursor-based list of following users
          content:
            application/json:
              schema:
                type: object
      x-endpoint-id: 96dfc2ae-a174-414d-8e3b-f1e385e32762
      x-ai-enabled: true
      x-test-success: true
      x-exception-description: Exception during API call
  /get-users:
    get:
      summary: Get Users by IDs
      description: Retrieve a list of users from a list of specified IDs.
      operationId: "get-users"
      parameters:
        - $ref: '#/components/parameters/RapidAPIHostHeader'
        - name: users
          in: query
          description: The user IDs of users you want to retrieve (separated with commas).
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A JSON object containing the requested users.
          content:
            application/json:
              schema:
                type: object
      x-endpoint-id: ca7ea862-04eb-479c-946d-87f78f73b922
      x-ai-enabled: true
      x-test-success: true
      x-description: The endpoint is designed to retrieve a list of users for a set of specified user IDs using a comma-separated query parameter. The API call returned a rate limit error, which indicates that while the endpoint itself is working, the current request exceeded the rate limit for the BASIC plan. To get a successful response, it is recommended to reduce request frequency or try again later.
      x-tested-response:
        message: You have exceeded the rate limit per second for your plan, BASIC, by the API provider
  /user:
    get:
      summary: Get User by Username
      description: Retrieve a user's profile by username.
      operationId: "user"
      parameters:
        - $ref: '#/components/parameters/RapidAPIHostHeader'
        - name: username
          in: query
          description: The username of the profile you want to retrieve.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A JSON object representing the user profile.
          content:
            application/json:
              schema:
                type: object
              example:
                result:
                  data:
                    user:
                      result:
                        __typename: User
                        id: VXNlcjoxOTM3NTA2NjMwMTE3MDE1NTU0
                        rest_id: '1937506630117015554'
                        affiliates_highlighted_label: {}
                        avatar:
                          image_url: https://pbs.twimg.com/profile_images/1937506847746928640/tArDQ7Ow_normal.png
                        core:
                          created_at: Tue Jun 24 13:42:45 +0000 2025
                          name: ApInference
                          screen_name: ApInference
                        dm_permissions:
                          can_dm: false
                        has_graduated_access: false
                        is_blue_verified: false
                        legacy:
                          default_profile: true
                          default_profile_image: false
                          description: A smart conversational layer on top of any API in minutes
                          entities:
                            description:
                              urls: []
                            url:
                              urls:
                                - display_url: apinference.com
                                  expanded_url: http://apinference.com
                                  url: https://t.co/da8qKUciIP
                                  indices:
                                    - 0
                                    - 23
                          fast_followers_count: 0
                          favourites_count: 0
                          followers_count: 1
                          friends_count: 135
                          has_custom_timelines: false
                          is_translator: false
                          listed_count: 0
                          media_count: 0
                          normal_followers_count: 1
                          pinned_tweet_ids_str:
                            - '1937512174668382424'
                          possibly_sensitive: false
                          profile_interstitial_type: ''
                          statuses_count: 6
                          translator_type: none
                          url: https://t.co/da8qKUciIP
                          want_retweets: false
                          withheld_in_countries: []
                        location:
                          location: ''
                        media_permissions:
                          can_media_tag: true
                        parody_commentary_fan_label: None
                        profile_image_shape: Circle
                        privacy:
                          protected: false
                        relationship_perspectives:
                          following: false
                        tipjar_settings: {}
                        verification:
                          verified: false
                        legacy_extended_profile: {}
                        is_profile_translatable: false
                        has_hidden_subscriptions_on_profile: false
                        verification_info:
                          is_identity_verified: false
                        highlights_info:
                          can_highlight_tweets: false
                          highlighted_tweets: '0'
                        user_seed_tweet_count: 0
                        premium_gifting_eligible: true
                        business_account: {}
                        creator_subscriptions_count: 0
      x-endpoint-id: 7784bc12-130c-4944-ad4e-8f39a6ae6772
      x-ai-enabled: true
      x-test-success: true
      x-description: Retrieves a user's profile by username. The endpoint accepts a query parameter 'username' and returns a comprehensive user object including core info, legacy details, and other attributes.
      x-tested-response:
        result:
          data:
            user:
              result:
                __typename: User
                id: VXNlcjoxOTM3NTA2NjMwMTE3MDE1NTU0
                rest_id: '1937506630117015554'
                affiliates_highlighted_label: {}
                avatar:
                  image_url: https://pbs.twimg.com/profile_images/1937506847746928640/tArDQ7Ow_normal.png
                core:
                  created_at: Tue Jun 24 13:42:45 +0000 2025
                  name: ApInference
                  screen_name: ApInference
                dm_permissions:
                  can_dm: false
                has_graduated_access: false
                is_blue_verified: false
                legacy:
                  default_profile: true
                  default_profile_image: false
                  description: A smart conversational layer on top of any API in minutes
                  entities:
                    description:
                      urls: []
                    url:
                      urls:
                        - display_url: apinference.com
                          expanded_url: http://apinference.com
                          url: https://t.co/da8qKUciIP
                          indices:
                            - 0
                            - 23
                  fast_followers_count: 0
                  favourites_count: 0
                  followers_count: 1
                  friends_count: 135
                  has_custom_timelines: false
                  is_translator: false
                  listed_count: 0
                  media_count: 0
                  normal_followers_count: 1
                  pinned_tweet_ids_str:
                    - '1937512174668382424'
                  possibly_sensitive: false
                  profile_interstitial_type: ''
                  statuses_count: 6
                  translator_type: none
                  url: https://t.co/da8qKUciIP
                  want_retweets: false
                  withheld_in_countries: []
                location:
                  location: ''
                media_permissions:
                  can_media_tag: true
                parody_commentary_fan_label: None
                profile_image_shape: Circle
                privacy:
                  protected: false
                relationship_perspectives:
                  following: false
                tipjar_settings: {}
                verification:
                  verified: false
                legacy_extended_profile: {}
                is_profile_translatable: false
                has_hidden_subscriptions_on_profile: false
                verification_info:
                  is_identity_verified: false
                highlights_info:
                  can_highlight_tweets: false
                  highlighted_tweets: '0'
                user_seed_tweet_count: 0
                premium_gifting_eligible: true
                business_account: {}
                creator_subscriptions_count: 0
  /search-v2:
    get:
      summary: Search V2
      description: Perform a search (V2).
      operationId: "search-v2"
      parameters:
        - $ref: '#/components/parameters/RapidAPIHostHeader'
        - name: query
          in: query
          description: The search term or keyword you want to find.
          required: true
          schema:
            type: string
        - name: type
          in: query
          description: See /search.
          required: true
          schema:
            type: string
        - name: count
          in: query
          description: The number of results to return per request (max is 20).
          required: false
          schema:
            type: string
        - name: cursor
          in: query
          description: A pagination cursor to fetch the next set of results.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A JSON object containing search-v2 results.
          content:
            application/json:
              schema:
                type: object
              example:
                cursor:
                  bottom: DAACCgACGunrgyLAJxAKAAMa6euDIr_Y8AgABAAAAAILAAUAAADoRW1QQzZ3QUFBZlEvZ0dKTjB2R3AvQUFBQUJNYTZlcG02VnFSNUJycDZjNVRXN0FpR3VuaG9TemJRU0lhNmVteWNWdXhpeHJsTE1HVjJ4SHhHdW5vUFJRYWNhMGE2YUljRzVhZ2ZCcmYzaytsMXJHZEd1bnE4K21ib0NJYTQyY3RoMWZBWUJybkRKWS8yMUROR3VubStVb2JFTDBhNmVydlBkcEJSeHJsZGdoamxrQUVHdW5xWXM4YklRNGE2ZWVKSDVwUklocmlFb2I2V3REU0d1bm5zKzhhQUNrYTZZdVFJWmFCdnc9PQgABgAAAAAIAAcAAAAADAAICgABGt_eT6XWsZ0AAAA
                  top: DAACCgACGunrgyLAJxAKAAMa6euDIr_Y8AgABAAAAAELAAUAAADoRW1QQzZ3QUFBZlEvZ0dKTjB2R3AvQUFBQUJNYTZlcG02VnFSNUJycDZjNVRXN0FpR3VuaG9TemJRU0lhNmVteWNWdXhpeHJsTE1HVjJ4SHhHdW5vUFJRYWNhMGE2YUljRzVhZ2ZCcmYzaytsMXJHZEd1bnE4K21ib0NJYTQyY3RoMWZBWUJybkRKWS8yMUROR3VubStVb2JFTDBhNmVydlBkcEJSeHJsZGdoamxrQUVHdW5xWXM4YklRNGE2ZWVKSDVwUklocmlFb2I2V3REU0d1bm5zKzhhQUNrYTZZdVFJWmFCdnc9PQgABgAAAAAIAAcAAAAADAAICgABGt_eT6XWsZ0AAAA
                result:
                  timeline:
                    instructions:
                      - type: TimelineAddEntries
                        entries:
                          - entryId: toptabsrpusermodule-1939340063015960576
                            sortIndex: '1939340063015960576'
                            content:
                              entryType: TimelineTimelineModule
                              __typename: TimelineTimelineModule
                              items:
                                - entryId: toptabsrpusermodule-1939340063015960576-user-6253282
                                  item:
                                    itemContent:
                                      itemType: TimelineUser
                                      __typename: TimelineUser
                                      user_results:
                                        result:
                                          __typename: User
                                          id: VXNlcjo2MjUzMjgy
                                          rest_id: '6253282'
                                          affiliates_highlighted_label:
                                            label:
                                              url:
                                                url: https://twitter.com/X
                                                urlType: DeepLink
                                              badge:
                                                url: https://pbs.twimg.com/profile_images/1683899100922511378/5lY42eHs_bigger.jpg
                                              description: X
                                              userLabelType: BusinessLabel
                                              userLabelDisplayType: Badge
                                          avatar:
                                            image_url: https://pbs.twimg.com/profile_images/1683497657388392455/yW7azZHt_normal.jpg
                                          core:
                                            created_at: Wed May 23 06:01:13 +0000 2007
                                            name: API
                                            screen_name: API
                                          dm_permissions:
                                            can_dm: false
                                          has_graduated_access: true
                                          is_blue_verified: true
                                          legacy:
                                            default_profile: false
                                            default_profile_image: false
                                            description: Updates about X API changes and service issues.
                                            entities:
                                              description:
                                                urls: []
                                              url:
                                                urls:
                                                  - display_url: developer.x.com
                                                    expanded_url: https://developer.x.com
                                                    url: https://t.co/YrfsitXdac
                                                    indices:
                                                      - 0
                                                      - 23
                                            fast_followers_count: 0
                                            favourites_count: 4
                                            followers_count: 5815316
                                            friends_count: 12
                                            has_custom_timelines: false
                                            is_translator: false
                                            listed_count: 11875
                                            media_count: 9
                                            normal_followers_count: 5815316
                                            pinned_tweet_ids_str: []
                                            possibly_sensitive: false
                                            profile_banner_url: https://pbs.twimg.com/profile_banners/6253282/1690212094
                                            profile_interstitial_type: ''
                                            statuses_count: 3753
                                            translator_type: regular
                                            url: https://t.co/YrfsitXdac
                                            want_retweets: false
                                            withheld_in_countries: []
                                          location:
                                            location: ''
                                          media_permissions:
                                            can_media_tag: true
                                          parody_commentary_fan_label: None
                                          profile_image_shape: Square
                                          privacy:
                                            protected: false
                                          relationship_perspectives:
                                            following: false
                                          tipjar_settings: {}
                                          verification:
                                            verified: false
                                            verified_type: Business
                                      userDisplayType: UserDetailed
                                    clientEventInfo:
                                      component: user_module
                                      element: user
                                      details:
                                        timelinesDetails:
                                          controllerData: DAACDAAFDAABDAACCgABAAAAAAAAAAEKAALwY4R9ixRGCgsAAwAAAANhcGkKAAUp7+yrn8uEaQgABgAAAAEKAAe6UL6dpa60uAAAAAAA
                                - entryId: toptabsrpusermodule-1939340063015960576-user-1938284307061297152
                                  item:
                                    itemContent:
                                      itemType: TimelineUser
                                      __typename: TimelineUser
                                      user_results:
                                        result:
                                          __typename: User
                                          id: VXNlcjoxOTM4Mjg0MzA3MDYxMjk3MTUy
                                          rest_id: '1938284307061297152'
                                          affiliates_highlighted_label: {}
                                          avatar:
                                            image_url: https://pbs.twimg.com/profile_images/1938284417849651200/APKjy36R_normal.png
                                          core:
                                            created_at: Thu Jun 26 17:13:10 +0000 2025
                                            name: API
                                            screen_name: joeojkll
                                          dm_permissions:
                                            can_dm: false
                                          has_graduated_access: false
                                          is_blue_verified: false
                                          legacy:
                                            default_profile: true
                                            default_profile_image: false
                                            description: ''
                                            entities:
                                              description:
                                                urls: []
                                            fast_followers_count: 0
                                            favourites_count: 0
                                            followers_count: 2
                                            friends_count: 3
                                            has_custom_timelines: false
                                            is_translator: false
                                            listed_count: 0
                                            media_count: 0
                                            normal_followers_count: 2
                                            pinned_tweet_ids_str: []
                                            possibly_sensitive: false
                                            profile_interstitial_type: ''
                                            statuses_count: 0
                                            translator_type: none
                                            want_retweets: false
                                            withheld_in_countries: []
                                          location:
                                            location: ''
                                          media_permissions:
                                            can_media_tag: true
                                          parody_commentary_fan_label: None
                                          profile_image_shape: Circle
                                          privacy:
                                            protected: false
                                          relationship_perspectives:
                                            following: false
                                          tipjar_settings: {}
                                          verification:
                                            verified: false
                                      userDisplayType: UserDetailed
                                    clientEventInfo:
                                      component: user_module
                                      element: user
                                      details:
                                        timelinesDetails:
                                          controllerData: DAACDAAFDAABDAACCgABAAAAAAAAAAEKAALwY4R9ixRGCgsAAwAAAANhcGkKAAUp7+yrn8uEaQgABgAAAAEKAAe6UL6dpa60uAAAAAAA
                                - entryId: toptabsrpusermodule-1939340063015960576-user-61200510
                                  item:
                                    itemContent:
                                      itemType: TimelineUser
                                      __typename: TimelineUser
                                      user_results:
                                        result:
                                          __typename: User
                                          id: VXNlcjo2MTIwMDUxMA==
                                          rest_id: '61200510'
                                          affiliates_highlighted_label: {}
                                          avatar:
                                            image_url: https://pbs.twimg.com/profile_images/1800799948935516160/WvaHBhso_normal.jpg
                                          core:
                                            created_at: Wed Jul 29 13:59:41 +0000 2009
                                            name: API
                                            screen_name: apiplay
                                          dm_permissions:
                                            can_dm: false
                                          has_graduated_access: true
                                          is_blue_verified: true
                                          legacy:
                                            default_profile: false
                                            default_profile_image: false
                                            description: API is a trade association representing the interests of manufacturers, designers, installers and distributors of indoor and outdoor play equipment & surfacing.
                                            entities:
                                              description:
                                                urls: []
                                              url:
                                                urls:
                                                  - display_url: api-play.org
                                                    expanded_url: http://www.api-play.org
                                                    url: https://t.co/gaOGzyS9b6
                                                    indices:
                                                      - 0
                                                      - 23
                                            fast_followers_count: 0
                                            favourites_count: 3707
                                            followers_count: 2544
                                            friends_count: 1957
                                            has_custom_timelines: false
                                            is_translator: false
                                            listed_count: 60
                                            media_count: 1838
                                            normal_followers_count: 2544
                                            pinned_tweet_ids_str: []
                                            possibly_sensitive: false
                                            profile_banner_url: https://pbs.twimg.com/profile_banners/61200510/1663668064
                                            profile_interstitial_type: ''
                                            statuses_count: 9942
                                            translator_type: none
                                            url: https://t.co/gaOGzyS9b6
                                            want_retweets: false
                                            withheld_in_countries: []
                                          location:
                                            location: UK
                                          media_permissions:
                                            can_media_tag: true
                                          parody_commentary_fan_label: None
                                          profile_image_shape: Circle
                                          privacy:
                                            protected: false
                                          relationship_perspectives:
                                            following: false
                                          tipjar_settings: {}
                                          verification:
                                            verified: false
                                      userDisplayType: UserDetailed
                                    clientEventInfo:
                                      component: user_module
                                      element: user
                                      details:
                                        timelinesDetails:
                                          controllerData: DAACDAAFDAABDAACCgABAAAAAAAAAAEKAALwY4R9ixRGCgsAAwAAAANhcGkKAAUp7+yrn8uEaQgABgAAAAEKAAe6UL6dpa60uAAAAAAA
                                - entryId: toptabsrpusermodule-1939340063015960576-user-1577461480601288704
                                  item:
                                    itemContent:
                                      itemType: TimelineUser
                                      __typename: TimelineUser
                                      user_results:
                                        result:
                                          __typename: User
                                          id: VXNlcjoxNTc3NDYxNDgwNjAxMjg4NzA0
                                          rest_id: '1577461480601288704'
                                          affiliates_highlighted_label: {}
                                          avatar:
                                            image_url: https://pbs.twimg.com/profile_images/1910342921783803904/fSkZoVI9_normal.jpg
                                          core:
                                            created_at: Wed Oct 05 00:51:50 +0000 2022
                                            name: あぴ（Api）は、人生詰みました。ʚ🐰ɞ
                                            screen_name: apitsumi_main
                                          dm_permissions:
                                            can_dm: false
                                          has_graduated_access: true
                                          is_blue_verified: true
                                          legacy:
                                            default_profile: true
                                            default_profile_image: false
                                            description: 元アイドルで今は保育園先生のあぴ🤍ファンクラブでひみつの動画配信中だから気軽においで～無料もたくさんあるよ🤍Fantia▶︎(https://t.co/l0OzC6HjdM)myfans▶︎(https://t.co/UjgQngYEN0)🤍ファンマ⇒ʚ🐰ɞ
                                            entities:
                                              description:
                                                urls:
                                                  - display_url: fantia.jp/apitsumi
                                                    expanded_url: http://fantia.jp/apitsumi
                                                    url: https://t.co/l0OzC6HjdM
                                                    indices:
                                                      - 63
                                                      - 86
                                                  - display_url: myfans.jp/yopiapi
                                                    expanded_url: https://myfans.jp/yopiapi
                                                    url: https://t.co/UjgQngYEN0
                                                    indices:
                                                      - 96
                                                      - 119
                                              url:
                                                urls:
                                                  - display_url: pont.co/u/apitsumi
                                                    expanded_url: https://pont.co/u/apitsumi
                                                    url: https://t.co/2sqWqpW0qI
                                                    indices:
                                                      - 0
                                                      - 23
                                            fast_followers_count: 0
                                            favourites_count: 46276
                                            followers_count: 486124
                                            friends_count: 86
                                            has_custom_timelines: false
                                            is_translator: false
                                            listed_count: 1250
                                            media_count: 189
                                            normal_followers_count: 486124
                                            pinned_tweet_ids_str: []
                                            possibly_sensitive: false
                                            profile_banner_url: https://pbs.twimg.com/profile_banners/1577461480601288704/1723347604
                                            profile_interstitial_type: ''
                                            statuses_count: 60036
                                            translator_type: none
                                            url: https://t.co/2sqWqpW0qI
                                            want_retweets: false
                                            withheld_in_countries: []
                                          location:
                                            location: あぴのまとめ ▶︎
                                          media_permissions:
                                            can_media_tag: true
                                          parody_commentary_fan_label: None
                                          profile_image_shape: Circle
                                          professional:
                                            rest_id: '1588056249928585216'
                                            professional_type: Creator
                                            category: []
                                          privacy:
                                            protected: false
                                          relationship_perspectives:
                                            following: false
                                          tipjar_settings: {}
                                          verification:
                                            verified: false
                                      userDisplayType: UserDetailed
                                    clientEventInfo:
                                      component: user_module
                                      element: user
                                      details:
                                        timelinesDetails:
                                          controllerData: DAACDAAFDAABDAACCgABAAAAAAAAAAEKAALwY4R9ixRGCgsAAwAAAANhcGkKAAUp7+yrn8uEaQgABgAAAAEKAAe6UL6dpa60uAAAAAAA
                                - entryId: toptabsrpusermodule-1939340063015960576-user-1938519537017610240
                                  item:
                                    itemContent:
                                      itemType: TimelineUser
                                      __typename: TimelineUser
                                      user_results:
                                        result:
                                          __typename: User
                                          id: VXNlcjoxOTM4NTE5NTM3MDE3NjEwMjQw
                                          rest_id: '1938519537017610240'
                                          affiliates_highlighted_label: {}
                                          avatar:
                                            image_url: https://pbs.twimg.com/profile_images/1938519771315679232/7SrCGeMm_normal.jpg
                                          core:
                                            created_at: Fri Jun 27 08:47:35 +0000 2025
                                            name: API
                                            screen_name: API887021950914
                                          dm_permissions:
                                            can_dm: false
                                          has_graduated_access: false
                                          is_blue_verified: false
                                          legacy:
                                            default_profile: true
                                            default_profile_image: false
                                            description: ''
                                            entities:
                                              description:
                                                urls: []
                                            fast_followers_count: 0
                                            favourites_count: 0
                                            followers_count: 21
                                            friends_count: 0
                                            has_custom_timelines: false
                                            is_translator: false
                                            listed_count: 0
                                            media_count: 0
                                            normal_followers_count: 21
                                            pinned_tweet_ids_str: []
                                            possibly_sensitive: false
                                            profile_interstitial_type: ''
                                            statuses_count: 2
                                            translator_type: none
                                            want_retweets: false
                                            withheld_in_countries: []
                                          location:
                                            location: ''
                                          media_permissions:
                                            can_media_tag: true
                                          parody_commentary_fan_label: None
                                          profile_image_shape: Circle
                                          privacy:
                                            protected: false
                                          relationship_perspectives:
                                            following: false
                                          tipjar_settings: {}
                                          verification:
                                            verified: false
                                      userDisplayType: UserDetailed
                                    clientEventInfo:
                                      component: user_module
                                      element: user
                                      details:
                                        timelinesDetails:
                                          controllerData: DAACDAAFDAABDAACCgABAAAAAAAAAAEKAALwY4R9ixRGCgsAAwAAAANhcGkKAAUp7+yrn8uEaQgABgAAAAEKAAe6UL6dpa60uAAAAAAA
                                - entryId: toptabsrpusermodule-1939340063015960576-user-1225933934
                                  item:
                                    itemContent:
                                      itemType: TimelineUser
                                      __typename: TimelineUser
                                      user_results:
                                        result:
                                          __typename: User
                                          id: VXNlcjoxMjI1OTMzOTM0
                                          rest_id: '1225933934'
                                          affiliates_highlighted_label:
                                            label:
                                              url:
                                                url: https://twitter.com/X
                                                urlType: DeepLink
                                              badge:
                                                url: https://pbs.twimg.com/profile_images/1683899100922511378/5lY42eHs_bigger.jpg
                                              description: X
                                              userLabelType: BusinessLabel
                                              userLabelDisplayType: Badge
                                          avatar:
                                            image_url: https://pbs.twimg.com/profile_images/1683496876857851906/w8X6jRS7_normal.jpg
                                          core:
                                            created_at: Wed Feb 27 20:01:12 +0000 2013
                                            name: Ads API
                                            screen_name: AdsAPI
                                          dm_permissions:
                                            can_dm: true
                                          has_graduated_access: true
                                          is_blue_verified: true
                                          legacy:
                                            default_profile: false
                                            default_profile_image: false
                                            description: Updates around API changes, service issues and enhancements to our promoted products.
                                            entities:
                                              description:
                                                urls: []
                                            fast_followers_count: 0
                                            favourites_count: 258
                                            followers_count: 20011
                                            friends_count: 61
                                            has_custom_timelines: false
                                            is_translator: false
                                            listed_count: 293
                                            media_count: 61
                                            normal_followers_count: 20011
                                            pinned_tweet_ids_str: []
                                            possibly_sensitive: false
                                            profile_banner_url: https://pbs.twimg.com/profile_banners/1225933934/1690211908
                                            profile_interstitial_type: ''
                                            statuses_count: 784
                                            translator_type: regular
                                            want_retweets: false
                                            withheld_in_countries: []
                                          location:
                                            location: San Francisco
                                          media_permissions:
                                            can_media_tag: true
                                          parody_commentary_fan_label: None
                                          profile_image_shape: Square
                                          privacy:
                                            protected: false
                                          relationship_perspectives:
                                            following: false
                                          tipjar_settings: {}
                                          verification:
                                            verified: false
                                            verified_type: Business
                                      userDisplayType: UserDetailed
                                    clientEventInfo:
                                      component: user_module
                                      element: user
                                      details:
                                        timelinesDetails:
                                          controllerData: DAACDAAFDAABDAACCgABAAAAAAAAAAEKAALwY4R9ixRGCgsAAwAAAANhcGkKAAUp7+yrn8uEaQgABgAAAAEKAAe6UL6dpa60uAAAAAAA
                                - entryId: toptabsrpusermodule-1939340063015960576-user-15646547
                                  item:
                                    itemContent:
                                      itemType: TimelineUser
                                      __typename: TimelineUser
                                      user_results:
                                        result:
                                          __typename: User
                                          id: VXNlcjoxNTY0NjU0Nw==
                                          rest_id: '15646547'
                                          affiliates_highlighted_label: {}
                                          avatar:
                                            image_url: https://pbs.twimg.com/profile_images/1542910931994378248/vLE7lZiq_normal.png
                                          core:
                                            created_at: Tue Jul 29 14:15:24 +0000 2008
                                            name: American Petroleum Institute
                                            screen_name: APIenergy
                                          dm_permissions:
                                            can_dm: false
                                          has_graduated_access: true
                                          is_blue_verified: false
                                          legacy:
                                            default_profile: false
                                            default_profile_image: false
                                            description: Founded in 1919, API represents America’s oil and natural gas industry. We are the problem solvers who tackle the world’s greatest energy challenges.
                                            entities:
                                              description:
                                                urls: []
                                              url:
                                                urls:
                                                  - display_url: api.org
                                                    expanded_url: https://www.api.org
                                                    url: https://t.co/GRjFgDf0qQ
                                                    indices:
                                                      - 0
                                                      - 23
                                            fast_followers_count: 0
                                            favourites_count: 2630
                                            followers_count: 96133
                                            friends_count: 1634
                                            has_custom_timelines: true
                                            is_translator: false
                                            listed_count: 1799
                                            media_count: 13414
                                            normal_followers_count: 96133
                                            pinned_tweet_ids_str: []
                                            possibly_sensitive: false
                                            profile_banner_url: https://pbs.twimg.com/profile_banners/15646547/1704857882
                                            profile_interstitial_type: ''
                                            statuses_count: 48298
                                            translator_type: none
                                            url: https://t.co/GRjFgDf0qQ
                                            want_retweets: false
                                            withheld_in_countries: []
                                          location:
                                            location: Washington, D.C.
                                          media_permissions:
                                            can_media_tag: true
                                          parody_commentary_fan_label: None
                                          profile_image_shape: Square
                                          professional:
                                            rest_id: '1626232958171611142'
                                            professional_type: Business
                                            category:
                                              - id: 688
                                                name: 'Non-Governmental & Nonprofit Organization '
                                                icon_name: ''
                                          privacy:
                                            protected: false
                                          relationship_perspectives:
                                            following: false
                                          tipjar_settings: {}
                                          verification:
                                            verified: false
                                            verified_type: Business
                                      userDisplayType: UserDetailed
                                    clientEventInfo:
                                      component: user_module
                                      element: user
                                      details:
                                        timelinesDetails:
                                          controllerData: DAACDAAFDAABDAACCgABAAAAAAAAAAEKAALwY4R9ixRGCgsAAwAAAANhcGkKAAUp7+yrn8uEaQgABgAAAAEKAAe6UL6dpa60uAAAAAAA
                                - entryId: toptabsrpusermodule-1939340063015960576-user-1939210945739530244
                                  item:
                                    itemContent:
                                      itemType: TimelineUser
                                      __typename: TimelineUser
                                      user_results:
                                        result:
                                          __typename: User
                                          id: VXNlcjoxOTM5MjEwOTQ1NzM5NTMwMjQ0
                                          rest_id: '1939210945739530244'
                                          affiliates_highlighted_label: {}
                                          avatar:
                                            image_url: https://pbs.twimg.com/profile_images/1939211002106781701/YhxM3kGa_normal.png
                                          core:
                                            created_at: Sun Jun 29 06:35:06 +0000 2025
                                            name: Api
                                            screen_name: Apiisukaaamueee
                                          dm_permissions:
                                            can_dm: false
                                          has_graduated_access: false
                                          is_blue_verified: false
                                          legacy:
                                            default_profile: true
                                            default_profile_image: false
                                            description: ''
                                            entities:
                                              description:
                                                urls: []
                                            fast_followers_count: 0
                                            favourites_count: 0
                                            followers_count: 0
                                            friends_count: 1
                                            has_custom_timelines: false
                                            is_translator: false
                                            listed_count: 0
                                            media_count: 0
                                            normal_followers_count: 0
                                            pinned_tweet_ids_str: []
                                            possibly_sensitive: false
                                            profile_interstitial_type: ''
                                            statuses_count: 0
                                            translator_type: none
                                            want_retweets: false
                                            withheld_in_countries: []
                                          location:
                                            location: ''
                                          media_permissions:
                                            can_media_tag: true
                                          parody_commentary_fan_label: None
                                          profile_image_shape: Circle
                                          privacy:
                                            protected: false
                                          relationship_perspectives:
                                            following: false
                                          tipjar_settings: {}
                                          verification:
                                            verified: false
                                      userDisplayType: UserDetailed
                                    clientEventInfo:
                                      component: user_module
                                      element: user
                                      details:
                                        timelinesDetails:
                                          controllerData: DAACDAAFDAABDAACCgABAAAAAAAAAAEKAALwY4R9ixRGCgsAAwAAAANhcGkKAAUp7+yrn8uEaQgABgAAAAEKAAe6UL6dpa60uAAAAAAA
                                - entryId: toptabsrpusermodule-1939340063015960576-user-631007548
                                  item:
                                    itemContent:
                                      itemType: TimelineUser
                                      __typename: TimelineUser
                                      user_results:
                                        result:
                                          __typename: User
                                          id: VXNlcjo2MzEwMDc1NDg=
                                          rest_id: '631007548'
                                          affiliates_highlighted_label: {}
                                          avatar:
                                            image_url: https://pbs.twimg.com/profile_images/1913522270037032960/McF13Ez4_normal.jpg
                                          core:
                                            created_at: Mon Jul 09 11:11:35 +0000 2012
                                            name: Apink(에이핑크)
                                            screen_name: Apink_2011
                                          dm_permissions:
                                            can_dm: false
                                          has_graduated_access: true
                                          is_blue_verified: true
                                          legacy:
                                            default_profile: false
                                            default_profile_image: false
                                            description: Apink Official Twitter💕
                                            entities:
                                              description:
                                                urls: []
                                              url:
                                                urls:
                                                  - display_url: linktr.ee/officialapink
                                                    expanded_url: https://linktr.ee/officialapink
                                                    url: https://t.co/mKQPJJPRFn
                                                    indices:
                                                      - 0
                                                      - 23
                                            fast_followers_count: 0
                                            favourites_count: 46
                                            followers_count: 808076
                                            friends_count: 10
                                            has_custom_timelines: false
                                            is_translator: false
                                            listed_count: 2332
                                            media_count: 5421
                                            normal_followers_count: 808076
                                            pinned_tweet_ids_str:
                                              - '1913517931574477047'
                                            possibly_sensitive: false
                                            profile_banner_url: https://pbs.twimg.com/profile_banners/631007548/1745054247
                                            profile_interstitial_type: ''
                                            statuses_count: 12822
                                            translator_type: none
                                            url: https://t.co/mKQPJJPRFn
                                            want_retweets: false
                                            withheld_in_countries: []
                                          location:
                                            location: ''
                                          media_permissions:
                                            can_media_tag: true
                                          parody_commentary_fan_label: None
                                          profile_image_shape: Circle
                                          professional:
                                            rest_id: '1646771469341585409'
                                            professional_type: Creator
                                            category: []
                                          privacy:
                                            protected: false
                                          relationship_perspectives:
                                            following: false
                                          tipjar_settings: {}
                                          verification:
                                            verified: false
                                      userDisplayType: UserDetailed
                                    clientEventInfo:
                                      component: user_module
                                      element: user
                                      details:
                                        timelinesDetails:
                                          controllerData: DAACDAAFDAABDAACCgABAAAAAAAAAAEKAALwY4R9ixRGCgsAAwAAAANhcGkKAAUp7+yrn8uEaQgABgAAAAEKAAe6UL6dpa60uAAAAAAA
                                - entryId: toptabsrpusermodule-1939340063015960576-user-1390282127934119937
                                  item:
                                    itemContent:
                                      itemType: TimelineUser
                                      __typename: TimelineUser
                                      user_results:
                                        result:
                                          __typename: User
                                          id: VXNlcjoxMzkwMjgyMTI3OTM0MTE5OTM3
                                          rest_id: '1390282127934119937'
                                          affiliates_highlighted_label: {}
                                          avatar:
                                            image_url: https://pbs.twimg.com/profile_images/1390285702118744065/_yFdG8wX_normal.png
                                          core:
                                            created_at: Thu May 06 12:27:49 +0000 2021
                                            name: CoinAPI.io
                                            screen_name: realCoinAPI
                                          dm_permissions:
                                            can_dm: false
                                          has_graduated_access: true
                                          is_blue_verified: true
                                          legacy:
                                            default_profile: true
                                            default_profile_image: false
                                            description: All crypto APIs you will ever need | Market Data API | Exchange Rates API | EMS Trading API | Crypto data download | Index API |
                                            entities:
                                              description:
                                                urls: []
                                              url:
                                                urls:
                                                  - display_url: coinapi.io
                                                    expanded_url: http://www.coinapi.io
                                                    url: https://t.co/LFaLTjUCWk
                                                    indices:
                                                      - 0
                                                      - 23
                                            fast_followers_count: 0
                                            favourites_count: 1030
                                            followers_count: 2370
                                            friends_count: 366
                                            has_custom_timelines: true
                                            is_translator: false
                                            listed_count: 12
                                            media_count: 229
                                            normal_followers_count: 2370
                                            pinned_tweet_ids_str: []
                                            possibly_sensitive: false
                                            profile_banner_url: https://pbs.twimg.com/profile_banners/1390282127934119937/1733139809
                                            profile_interstitial_type: ''
                                            statuses_count: 831
                                            translator_type: none
                                            url: https://t.co/LFaLTjUCWk
                                            want_retweets: false
                                            withheld_in_countries: []
                                          location:
                                            location: ''
                                          media_permissions:
                                            can_media_tag: true
                                          parody_commentary_fan_label: None
                                          profile_image_shape: Square
                                          professional:
                                            rest_id: '1623630785440804870'
                                            professional_type: Business
                                            category:
                                              - id: 718
                                                name: Information Technology Company
                                                icon_name: ''
                                          privacy:
                                            protected: false
                                          relationship_perspectives:
                                            following: false
                                          tipjar_settings: {}
                                          verification:
                                            verified: false
                                            verified_type: Business
                                      userDisplayType: UserDetailed
                                    clientEventInfo:
                                      component: user_module
                                      element: user
                                      details:
                                        timelinesDetails:
                                          controllerData: DAACDAAFDAABDAACCgABAAAAAAAAAAEKAALwY4R9ixRGCgsAAwAAAANhcGkKAAUp7+yrn8uEaQgABgAAAAEKAAe6UL6dpa60uAAAAAAA
                              displayType: Carousel
                              header:
                                displayType: Classic
                                text: People
                                sticky: true
                              footer:
                                displayType: Classic
                                text: View all
                                landingUrl:
                                  url: twitter://search?query=api&src=typed_query&type=users
                                  urlType: DeepLink
                              clientEventInfo:
                                component: user_module
                                element: module
                          - entryId: tweet-1938532004062253261
                            sortIndex: '1939340063015960566'
                            content:
                              entryType: TimelineTimelineItem
                              __typename: TimelineTimelineItem
                              itemContent:
                                itemType: TimelineTweet
                                __typename: TimelineTweet
                                tweet_results:
                                  result:
                                    __typename: Tweet
                                    rest_id: '1938532004062253261'
                                    core:
                                      user_results:
                                        result:
                                          __typename: User
                                          id: VXNlcjoxNTc3NDYxNDgwNjAxMjg4NzA0
                                          rest_id: '1577461480601288704'
                                          affiliates_highlighted_label: {}
                                          avatar:
                                            image_url: https://pbs.twimg.com/profile_images/1910342921783803904/fSkZoVI9_normal.jpg
                                          core:
                                            created_at: Wed Oct 05 00:51:50 +0000 2022
                                            name: あぴ（Api）は、人生詰みました。ʚ🐰ɞ
                                            screen_name: apitsumi_main
                                          dm_permissions:
                                            can_dm: false
                                          has_graduated_access: true
                                          is_blue_verified: true
                                          legacy:
                                            default_profile: true
                                            default_profile_image: false
                                            description: 元アイドルで今は保育園先生のあぴ🤍ファンクラブでひみつの動画配信中だから気軽においで～無料もたくさんあるよ🤍Fantia▶︎(https://t.co/l0OzC6HjdM)myfans▶︎(https://t.co/UjgQngYEN0)🤍ファンマ⇒ʚ🐰ɞ
                                            entities:
                                              description:
                                                urls:
                                                  - display_url: fantia.jp/apitsumi
                                                    expanded_url: http://fantia.jp/apitsumi
                                                    url: https://t.co/l0OzC6HjdM
                                                    indices:
                                                      - 63
                                                      - 86
                                                  - display_url: myfans.jp/yopiapi
                                                    expanded_url: https://myfans.jp/yopiapi
                                                    url: https://t.co/UjgQngYEN0
                                                    indices:
                                                      - 96
                                                      - 119
                                              url:
                                                urls:
                                                  - display_url: pont.co/u/apitsumi
                                                    expanded_url: https://pont.co/u/apitsumi
                                                    url: https://t.co/2sqWqpW0qI
                                                    indices:
                                                      - 0
                                                      - 23
                                            fast_followers_count: 0
                                            favourites_count: 46276
                                            followers_count: 486124
                                            friends_count: 86
                                            has_custom_timelines: false
                                            is_translator: false
                                            listed_count: 1250
                                            media_count: 189
                                            normal_followers_count: 486124
                                            pinned_tweet_ids_str: []
                                            possibly_sensitive: false
                                            profile_banner_url: https://pbs.twimg.com/profile_banners/1577461480601288704/1723347604
                                            profile_interstitial_type: ''
                                            statuses_count: 60036
                                            translator_type: none
                                            url: https://t.co/2sqWqpW0qI
                                            want_retweets: false
                                            withheld_in_countries: []
                                          location:
                                            location: あぴのまとめ ▶︎
                                          media_permissions:
                                            can_media_tag: true
                                          parody_commentary_fan_label: None
                                          profile_image_shape: Circle
                                          professional:
                                            rest_id: '1588056249928585216'
                                            professional_type: Creator
                                            category: []
                                          privacy:
                                            protected: false
                                          relationship_perspectives:
                                            following: false
                                          tipjar_settings: {}
                                          verification:
                                            verified: false
                                    unmention_data: {}
                                    edit_control:
                                      edit_tweet_ids:
                                        - '1938532004062253261'
                                      editable_until_msecs: '1751020620000'
                                      is_edit_eligible: true
                                      edits_remaining: '5'
                                    is_translatable: true
                                    views:
                                      count: '297782'
                                      state: EnabledWithCount
                                    source: <a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>
                                    grok_analysis_button: false
                                    legacy:
                                      bookmark_count: 442
                                      bookmarked: false
                                      created_at: Fri Jun 27 09:37:00 +0000 2025
                                      conversation_id_str: '1938532004062253261'
                                      display_text_range:
                                        - 0
                                        - 36
                                      entities:
                                        hashtags: []
                                        media:
                                          - display_url: pic.x.com/AT2e1pUjCE
                                            expanded_url: https://x.com/apitsumi_main/status/1938532004062253261/photo/1
                                            id_str: '1938531954670080000'
                                            indices:
                                              - 37
                                              - 60
                                            media_key: '3_1938531954670080000'
                                            media_url_https: https://pbs.twimg.com/media/GucMir_akAAvB7C.jpg
                                            type: photo
                                            url: https://t.co/AT2e1pUjCE
                                            ext_media_availability:
                                              status: Available
                                            features:
                                              large:
                                                faces:
                                                  - x: 615
                                                    'y': 1523
                                                    h: 319
                                                    w: 319
                                              medium:
                                                faces:
                                                  - x: 360
                                                    'y': 892
                                                    h: 187
                                                    w: 187
                                              small:
                                                faces:
                                                  - x: 204
                                                    'y': 505
                                                    h: 106
                                                    w: 106
                                              orig:
                                                faces:
                                                  - x: 895
                                                    'y': 2214
                                                    h: 465
                                                    w: 465
                                            sizes:
                                              large:
                                                h: 2048
                                                w: 1560
                                                resize: fit
                                              medium:
                                                h: 1200
                                                w: 914
                                                resize: fit
                                              small:
                                                h: 680
                                                w: 518
                                                resize: fit
                                              thumb:
                                                h: 150
                                                w: 150
                                                resize: crop
                                            original_info:
                                              height: 2976
                                              width: 2267
                                              focus_rects:
                                                - x: 0
                                                  'y': 0
                                                  w: 2267
                                                  h: 1270
                                                - x: 0
                                                  'y': 0
                                                  w: 2267
                                                  h: 2267
                                                - x: 0
                                                  'y': 0
                                                  w: 2267
                                                  h: 2584
                                                - x: 668
                                                  'y': 0
                                                  w: 1488
                                                  h: 2976
                                                - x: 0
                                                  'y': 0
                                                  w: 2267
                                                  h: 2976
                                            media_results:
                                              result:
                                                media_key: '3_1938531954670080000'
                                        symbols: []
                                        timestamps: []
                                        urls:
                                          - display_url: x.com/i/grok/share/K…
                                            expanded_url: https://x.com/i/grok/share/K43vzm7aOgNpQWyKRTXVk5LB5
                                            url: https://t.co/OzD1Sd0Fgi
                                            indices:
                                              - 13
                                              - 36
                                        user_mentions: []
                                      extended_entities:
                                        media:
                                          - display_url: pic.x.com/AT2e1pUjCE
                                            expanded_url: https://x.com/apitsumi_main/status/1938532004062253261/photo/1
                                            id_str: '1938531954670080000'
                                            indices:
                                              - 37
                                              - 60
                                            media_key: '3_1938531954670080000'
                                            media_url_https: https://pbs.twimg.com/media/GucMir_akAAvB7C.jpg
                                            type: photo
                                            url: https://t.co/AT2e1pUjCE
                                            ext_media_availability:
                                              status: Available
                                            features:
                                              large:
                                                faces:
                                                  - x: 615
                                                    'y': 1523
                                                    h: 319
                                                    w: 319
                                              medium:
                                                faces:
                                                  - x: 360
                                                    'y': 892
                                                    h: 187
                                                    w: 187
                                              small:
                                                faces:
                                                  - x: 204
                                                    'y': 505
                                                    h: 106
                                                    w: 106
                                              orig:
                                                faces:
                                                  - x: 895
                                                    'y': 2214
                                                    h: 465
                                                    w: 465
                                            sizes:
                                              large:
                                                h: 2048
                                                w: 1560
                                                resize: fit
                                              medium:
                                                h: 1200
                                                w: 914
                                                resize: fit
                                              small:
                                                h: 680
                                                w: 518
                                                resize: fit
                                              thumb:
                                                h: 150
                                                w: 150
                                                resize: crop
                                            original_info:
                                              height: 2976
                                              width: 2267
                                              focus_rects:
                                                - x: 0
                                                  'y': 0
                                                  w: 2267
                                                  h: 1270
                                                - x: 0
                                                  'y': 0
                                                  w: 2267
                                                  h: 2267
                                                - x: 0
                                                  'y': 0
                                                  w: 2267
                                                  h: 2584
                                                - x: 668
                                                  'y': 0
                                                  w: 1488
                                                  h: 2976
                                                - x: 0
                                                  'y': 0
                                                  w: 2267
                                                  h: 2976
                                            media_results:
                                              result:
                                                media_key: '3_1938531954670080000'
                                      favorite_count: 9341
                                      favorited: false
                                      full_text: |-
                                        ワキまん、使う？？？🐰💕
                                        https://t.co/OzD1Sd0Fgi https://t.co/AT2e1pUjCE
                                      is_quote_status: false
                                      lang: ja
                                      possibly_sensitive: false
                                      possibly_sensitive_editable: true
                                      quote_count: 3
                                      reply_count: 233
                                      retweet_count: 252
                                      retweeted: false
                                      user_id_str: '1577461480601288704'
                                      id_str: '1938532004062253261'
                                    grok_share_attachment:
                                      items:
                                        - message: ありがとう！お優しいね💕
                                          media_urls: []
                                        - message: うわ、ありがとー！😊💕 優しさポイントもらっちゃった！😜 またなんか楽しいネタで絡もうね～🐰✨
                                          media_urls: []
                                          deepsearch_headers: []
                                tweetDisplayType: Tweet
                              feedbackInfo:
                                feedbackKeys:
                                  - '1060665035'
                              clientEventInfo:
                                component: result
                                element: tweet
                                details:
                                  timelinesDetails:
                                    controllerData: DAACDAAFDAABDAABDAABCgABAAAAAAAEgAAAAAwAAgoAAQAAAAAAAAABCgAC8GOEfYsURgoLAAMAAAADYXBpCgAFKe/sq5/LhGkIAAYAAAABCgAHulC+naWutLgAAAAAAA==
                          - entryId: tweet-1938084993055473668
                            sortIndex: '1939340063015960556'
                            content:
                              entryType: TimelineTimelineItem
                              __typename: TimelineTimelineItem
                              itemContent:
                                itemType: TimelineTweet
                                __typename: TimelineTweet
                                tweet_results:
                                  result:
                                    __typename: Tweet
                                    rest_id: '1938084993055473668'
                                    core:
                                      user_results:
                                        result:
                                          __typename: User
                                          id: VXNlcjoxNjc2MjQ5Mzk1
                                          rest_id: '1676249395'
                                          affiliates_highlighted_label: {}
                                          avatar:
                                            image_url: https://pbs.twimg.com/profile_images/1875396009456795648/-O1aLZvA_normal.jpg
                                          core:
                                            created_at: Fri Aug 16 17:16:31 +0000 2013
                                            name: Ashish Pratap Singh
                                            screen_name: ashishps_1
                                          dm_permissions:
                                            can_dm: true
                                          has_graduated_access: true
                                          is_blue_verified: true
                                          legacy:
                                            default_profile: true
                                            default_profile_image: false
                                            description: |-
                                              Founder @algomaster_io
                                              Prev SDE-2 @Amazon
                                              210k+ @LinkedIn, 195k+ @YouTube, 55k+ stars @GitHub. 
                                              Write about coding, dsa, system design and interviews.
                                            entities:
                                              description:
                                                urls: []
                                              url:
                                                urls:
                                                  - display_url: blog.algomaster.io
                                                    expanded_url: https://blog.algomaster.io
                                                    url: https://t.co/ApQPD7Z6Yw
                                                    indices:
                                                      - 0
                                                      - 23
                                            fast_followers_count: 0
                                            favourites_count: 1398
                                            followers_count: 19317
                                            friends_count: 126
                                            has_custom_timelines: true
                                            is_translator: false
                                            listed_count: 196
                                            media_count: 216
                                            normal_followers_count: 19317
                                            pinned_tweet_ids_str:
                                              - '1814884401249198569'
                                            possibly_sensitive: false
                                            profile_banner_url: https://pbs.twimg.com/profile_banners/1676249395/1735666708
                                            profile_interstitial_type: ''
                                            statuses_count: 1113
                                            translator_type: none
                                            url: https://t.co/ApQPD7Z6Yw
                                            want_retweets: false
                                            withheld_in_countries: []
                                          location:
                                            location: Join 95,000+ Readers →
                                          media_permissions:
                                            can_media_tag: true
                                          parody_commentary_fan_label: None
                                          profile_image_shape: Circle
                                          professional:
                                            rest_id: '1632054592514195456'
                                            professional_type: Creator
                                            category: []
                                          privacy:
                                            protected: false
                                          relationship_perspectives:
                                            following: false
                                          tipjar_settings: {}
                                          verification:
                                            verified: false
                                    unmention_data: {}
                                    edit_control:
                                      edit_tweet_ids:
                                        - '1938084993055473668'
                                      editable_until_msecs: '1750914044000'
                                      is_edit_eligible: false
                                      edits_remaining: '5'
                                    is_translatable: false
                                    views:
                                      count: '112295'
                                      state: EnabledWithCount
                                    source: <a href="https://hypefury.com" rel="nofollow">Hypefury</a>
                                    note_tweet:
                                      is_expandable: true
                                      note_tweet_results:
                                        result:
                                          id: Tm90ZVR3ZWV0OjE5MzgwODQ5OTI3MTE1ODU3OTI=
                                          text: |-
                                            30 Blogs to Learn 30 System Design Concepts:

                                            1. APIs: https://t.co/SFR7c1yi1Z

                                            2. API Gateways: https://t.co/kjlIJy9ElI

                                            3. JWTs: https://t.co/hHSdPVqsML

                                            4. Webhooks: https://t.co/789CPy1rXE

                                            5. Load Balancing: https://t.co/zrVmh7rURa

                                            6. Proxy vs Reverse Proxy: https://t.co/AR8L9F2met

                                            7. Scalability: https://t.co/Gbpjax24gd

                                            8. Availability: https://t.co/GfakejdGQz

                                            9. SPOF: https://t.co/5FtrH1Shrc

                                            10. CAP Theorem: https://t.co/Aaq5s96WFU

                                            11. SQL vs NoSQL: https://t.co/vDTE5PqNel

                                            12. ACID Transactions: https://t.co/eQBBIIM6w9

                                            13. Database Indexes: https://t.co/CKk39deBkk

                                            14. Database Sharding: https://t.co/nIkBZ8FZtv

                                            15. Consistent Hashing: https://t.co/cg1mZ4iuQy

                                            16. CDC: https://t.co/YCesZ6Y8AN

                                            17. Caching: https://t.co/Jed9uIFFim

                                            18. Caching Strategies: https://t.co/xhxmMgVQvW

                                            19. Cache Eviction Policies: https://t.co/eGUV3zzG3A

                                            20. CDN: https://t.co/DVnDPGUsFC

                                            21. Rate Limiting Algorithms: https://t.co/mjnf3S9PUA

                                            22. Message Queues: https://t.co/BTX85efXZu

[...]
